{% extends "news/2017_08_15_villa_of_durreueli/header.htm" %} {% block content %}

<!-- Video 1 -->
<div class="block-description cvast-background-image-spacer">
	<div align="center">
		<iframe style="height: 60vh; width: 60vw;" src="https://www.youtube.com/embed/6wr0PWi9LXQ?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
</div>


<!-- Paragraph 1 -->
<div class="container">
	<div class="row cvast-paragraph-box cvast-media-block cvast-background-image-spacer">
		<div class="col-sm-4 cvast-paragraph-box-left-container">
			<h1>Roman villa of Durreueli</h1>
		</div>
		<div class="col-sm-8">
			<div class="cvast-paragraph-box-body">
				<p>
					Some of the mystery behind one of Sicily’s largest ancient Roman villas is now solved thanks to a team of archeologists from
					the University of South Florida in Tampa, Fla. They’re the first to successfully excavate the 5,000 square meter Roman
					villa of Durreueli at Realmonte, located off the southern coast of Sicily.
				</p>
				<p>
					Project director Dr. Davide Tanasi, assistant professor in the USF Department of History, and his students worked alongside
					USF’s Center for Virtualization and Applied Spatial Technologies (CVAST). Together they created terrestrial and aerial
					3D scanning of the entire villa, an invaluable tool in guiding the excavation and interpreting the villa’s architectural
					phases.
				</p>
			</div>
		</div>
	</div>
</div>


<!-- Image 1 -->
<div class="container">
	<div class="row cvast-paragraph-box cvast-media-block cvast-background-image-spacer">
		<div class="col-sm-4 cvast-paragraph-box-left-container">
			<h5>Davide Tanasi, PhD, assistant professor in the USF Department of History, leads a team in uncovering the ancient Roman
				villa Durreueli at Realmonte.</h5>
		</div>
		<div class="col-sm-8">
			<div class="cvast-paragraph-box-body">
				<img src="{{ S3_STATIC_URL_IMG }}/news/2017_08_15_villa_of_durreueli/7981-roman-villa-6-728x400.jpg" style="max-height: 80vh; max-width: 100%;"
				/>
			</div>
		</div>
	</div>
</div>


<!-- Paragraph 2 -->
<div class="container">
	<div class="row cvast-paragraph-box cvast-media-block cvast-background-image-spacer">
		<div class="col-sm-4 cvast-paragraph-box-left-container">
			<h1>Excavations</h1>
		</div>
		<div class="col-sm-8">
			<div class="cvast-paragraph-box-body">
				<p>
					Through a month of excavations, they determined the villa was consistently occupied between the 2nd and 7th century CE and
					reconfigured to settlement in the 5th century Common Era (CE). That conclusion comes following the discovery of new
					walls, floor levels, staircase and water channel.
				</p>
				<p>
					The team found cookware and lamps along with a large quantity of African Late Roman pottery and related materials such as
					kiln spacers. This leads researchers to believe an important function of the village was to produce pottery, bricks
					and tiles in industrial scale, helping explain the economic history of Late Antique Sicily.
				</p>
				<p>
					Parts of the Roman villa of Durreuli at Realmonte were uncovered during a Japanese-led excavation effort in 1979-1985, but
					the team did not discover such an extensive part of Roman history.
				</p>
			</div>
		</div>
	</div>
</div>


<!-- Image 2 -->
<div class="container">
	<div class="row cvast-paragraph-box cvast-media-block cvast-background-image-spacer">
		<div class="col-sm-4 cvast-paragraph-box-left-container">
			<h5>The excavated ancient Roman villa is located off the southern coast of Sicily.</h5>
		</div>
		<div class="col-sm-8">
			<div class="cvast-paragraph-box-body">
				<img src="{{ S3_STATIC_URL_IMG }}/news/2017_08_15_villa_of_durreueli/7981-roman-villa-ocean-728x400.jpg" style="max-height: 80vh; max-width: 100%;"
				/>
			</div>
		</div>
	</div>
</div>


<!-- Paragraph 3 -->
<div class="container">
	<div class="row cvast-paragraph-box cvast-media-block cvast-background-image-spacer">
		<div class="col-sm-4 cvast-paragraph-box-left-container">
			<h1>Agrigento</h1>
		</div>
		<div class="col-sm-8">
			<div class="cvast-paragraph-box-body">
				<p>
					USF worked in conjunction with the Superintendence for Cultural Heritage of Agrigento and plans to continue its research
					next summer. Such an effort is important to USF and Tampa, as it is a sister city with Agrigento, the provincial capital
					in which Realmonte is located.
				</p>
			</div>
		</div>
	</div>
</div>


<!-- Video 1 -->
<div class="block-description cvast-background-image-spacer">
	<div align="center">
		<iframe style="height: 60vh; width: 60vw;" src="https://www.youtube.com/embed/HU6xDBYJwS8?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

{% endblock content %}