{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<!--=== Content Part ===-->
<div class="block-description cvast-project-title">
    <div class="container content padding-top-20">
        <h1 class="arches-breadcrumb-title cvast-page-title">{% trans "French National Museum of Natural History Project" %}</h1>
    </div>

    <div class="block-description">
        <div class="container">
            <div class="row cvast-profile-box">
                <div class="col-sm-4 cvast-profile-box-left-container">
                    <h1>Muséum national d'histoire naturelle</h1>
                    <h5><i class="fa fa-map-marker"></i>Paris, France</h5>
                </div>
                <div class="col-sm-8">
                    <div class="cvast-profile-box-body">
                        <p>In the spring of 2016, CVAST scanned the <a href="https://en.wikipedia.org/wiki/Galerie_de_pal%C3%A9ontologie_et_d%27anatomie_compar%C3%A9e"
                                target="_blank"> Galerie de paléontologie et d’anatomie comparée</a> (Gallery of Palaeontology
                            and Comparative Anatomy) at the <a href="https://en.wikipedia.org/wiki/National_Museum_of_Natural_History_(France)"
                                target="_blank"> Muséum national d'histoire naturelle</a> in Paris (MNHN). Co-directed by CVAST
                            Executive Director Herbert Maschner and Pierre-Yves Gagnier, Directeur adjoint des collections
                            MNHN, this project had several goals.
                        </p>
                        <p>The first was to test methods for the virtual documentation of extremely complex and detailed museum
                            exhibits, which was done using both laser scans and photogrammetry. The second was to test methods
                            of segmentation so that individual skeletons and specimens could be separated from the composite
                            gallery reconstructions. Lastly, to provide a plan view and architectural plan for the proposed
                            remodeling of the galleries and building.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="background-image" style="background-image: url({% static 'img/projects/paris_nhm/paris_nhm_faro.jpg' %});"></div>
</div>


<!-- Videos -->
<div class="block-description cvast-media-block">
    <div class="container content padding-top-20">
        <div class="row cvast-profile-box">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <h1>Videos</h1>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <p>These videos show animations of some of the point clouds that resulted from scanning in the Galerie de
                        paléontologie et d’anatomie comparée.</p>
                </div>
            </div>
        </div>
    </div>
    <figure id="video_player">
        <video controls poster="{% static 'img/projects/paris_nhm/video_thumbnails/Level1_Full_Resolution.png' %}" loop="">
            <source src="{{ S3_STATIC_URL }}/streaming/Level1_Full_Resolution-streaming.mp4" type="video/mp4">
        </video>
        <figcaption>
            <a href="{{ S3_STATIC_URL }}/streaming/Level1_Full_Resolution-streaming.mp4"><img src="{% static 'img/projects/paris_nhm/video_thumbnails/Level1_Full_Resolution.png' %}" alt=""></a>
            <a href="{{ S3_STATIC_URL }}/streaming/MNHN_Baleen_Whale-streaming.mp4"><img src="{% static 'img/projects/paris_nhm/video_thumbnails/MNHN_Baleen_Whale.png' %}" alt=""></a>
        </figcaption>
    </figure>
</div>

<!-- End Videos -->


<!-- Images -->
<div class="block-description cvast-media-block">
    
    <div class="block-description">
        <div class="container content padding-top-20">
            <div class="row cvast-profile-box">
                <div class="col-sm-4 cvast-profile-box-left-container">
                    <h1>Scanning and photographing the collection</h1>
                </div>
            </div>
        </div>
    </div>

    <div align="center" class="background-image-title">
        <h5>Setting up our Faro Focus330 terrestrial laser scanner in the Gallery of Anatomy</h5>
    </div>
    <div class="background-image" style="background-image: url({% static 'img/projects/paris_nhm/paris_nhm_tls_scanning.jpg' %}); background-position: 55% 15%;"></div>

    <div align="center" class="background-image-title background-image-title-notfirstrow">
        <h5>Photographing the Gallery of Anatomy</h5>
    </div>
    <div class="background-image" style="background-image: url({% static 'img/projects/paris_nhm/paris_nhm_photography.jpg' %}); background-position: 50% 50%;"></div>



    <div class="block-description" style="margin-top: 150px;">
        <div class="container content padding-top-20">
            <div class="row cvast-profile-box">
                <div class="col-sm-4 cvast-profile-box-left-container">
                    <h1>Preliminary results</h1>
                </div>
            </div>
        </div>
    </div>

    <div align="center" class="background-image-title">
        <h5>Orthophoto of the Gallery of Paleontology</h5>
    </div>
    <div class="background-image" style="background-image: url({% static 'img/projects/paris_nhm/paris_nhm_orthophoto_paleontology.png' %}); background-position: 50% 50%;"></div>

    <div align="center" class="background-image-title background-image-title-notfirstrow">
        <h5>Point cloud of Steller's Seacow, dorsal view</h5>
    </div>
    <div class="background-image" style="background-image: url({% static 'img/projects/paris_nhm/paris_nhm_manatee_dorsal.jpg' %}); background-position: 100% 40%;"></div>

    <div align="center" class="background-image-title background-image-title-notfirstrow">
        <h5>Point cloud of Steller's Seacow, right lateral view</h5>
    </div>
    <div class="background-image" style="background-image: url({% static 'img/projects/paris_nhm/paris_nhm_manatee_right_lateral.jpg' %}); background-position: 100% 40%;"></div>

    <div align="center" class="background-image-title background-image-title-notfirstrow">
        <h5>Point cloud of a Baleen whale, right lateral view</h5>
    </div>
    <div class="background-image" style="background-image: url({% static 'img/projects/paris_nhm/paris_nhm_baleen_whale_right_lateral.png' %}); background-position: 100% 60%;"></div>
</div>
<!-- End Images -->

{% include 'projects/project_footer.htm' %}
</div>

{% endblock content %}