{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<!--=== Content Part ===-->
<div class="cvast-project-title">
    <div class="container content padding-top-20">
        <h1 class="arches-breadcrumb-title cvast-page-title">{% trans "Gabii Digital" %}</h1>
    </div>
</div>

<!-- Paragraph 1 -->
<div class="block-description">
    <div class="container">
        <div class="row cvast-paragraph-box cvast-paragraph-box-after-title">
            <div class="col-sm-4 cvast-paragraph-box-left-container">
                <h1>The Gabii Project - Digital Gabii</h1>
                <h5><i class="fa fa-map-marker"></i>Gabii, Italy</h5>
                <img src="{% static 'img/projects/gabii_digital/gabii_logo_3d.png' %}" style="max-width: 250px" />
            </div>
            <div class="col-sm-8">
                <div class="cvast-paragraph-box-body">
                    <p>Rachel Opitz, USF Assistant Professor in Anthropology and at CVAST, is one of the directors of
                        <a href="https://sites.lsa.umich.edu/gabiiproject/" target="_blank">The Gabii Project</a>, an international
                        archaeological initiative launched in 2007 with the objective of studying and excavating the ancient
                        Latin city of Gabii, a city-state that was both a neighbor of, and a rival to, Rome in the first
                        millennium BC. The Gabii Project’s core objective is a fresh look at the phenomenon of urbanism.
                        Within the churn of societies experimenting with urban life, the Roman case stands out for its longevity
                        and broad impact, widespread in its heyday and exerting critical influence a thousand years later
                        during the emergence modern Western urbanism.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Image 1 -->
<div align="center" class="cvast-background-image-title cvast-background-image-spacer">
    <h5>All digital data collection is carried out by the topography team and students in the Gabii Project’s field school</h5>
</div>

<div class="background-image" style="background-image: url({% static 'img/projects/gabii_digital/gabii_digital.jpg' %}); background-position: 50% 70%;"></div>


<!-- Paragraph 2 -->
<div class="container padding-top-20">
    <div class="row cvast-paragraph-box cvast-media-block">
        <div class="col-sm-4 cvast-paragraph-box-left-container">
            <h1>Central research questions on Gabii and urbanism</h1>
        </div>
        <div class="col-sm-8">
            <div class="cvast-paragraph-box-body">
                <p>How did this particularly successful model for urbanism develop? What new insights into Roman and Italic
                    society can be gleaned from a fresh look at critical moments in which towns and cities in central Italy
                    are just getting started, in which it is not yet clear how to build a city or live an urban life? The
                    Gabii Project is dedicated to gathering the evidence needed to address these longstanding questions.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Image 2 -->
<div align="center" class="cvast-background-image-title cvast-background-image-spacer">
    <h5>An infant burial, documented using Structure From Motion, part of the Gabii Project’s standard recording method</h5>
    <img src="{% static 'img/projects/gabii_digital/gabii_digital2.jpg' %}" style="max-width:100%; max-height:100%;" />
</div>


<!-- Paragraph 3 -->
<div class="container">
    <div class="row cvast-paragraph-box cvast-media-block">
        <div class="col-sm-4 cvast-paragraph-box-left-container">
            <h1>Creating Gabii's digital record</h1>
        </div>
        <div class="col-sm-8">
            <div class="cvast-paragraph-box-body">
                <p>Dr. Opitz leads the project’s topography team, who are responsible for the projects all-digital recording
                    strategy. Since 2009, the project has developed and implemented a recording method that integrates structure
                    from motion (SFM) to create georeferenced 3D models and a tablet-based recording system.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Image 3 -->
<div align="center" class="cvast-background-image-title cvast-background-image-spacer" style="margin-bottom: 10px;">
    <h5 style="max-width:60%;">The user interface for the Gabii Project’s forthcoming Digital Publication</h5>
    <img src="{% static 'img/projects/gabii_digital/gabii_digital5.png' %}" style="max-height: 90vh; width: 100%; object-fit: contain;"
    />
</div>


<!-- Paragraph 4 -->
<div class="container">
    <div class="row cvast-paragraph-box cvast-media-block">
        <div class="col-sm-4 cvast-paragraph-box-left-container">
            <h1>Digital data, interpretation and communication</h1>
        </div>
        <div class="col-sm-8">
            <div class="cvast-paragraph-box-body">
                <p>The digital recording strategy is critical to the success of the project. Rapid 3D recording allows the team
                    to excavate at a large scale, investigate multiple facets of the urban fabric at Gabi, and create a detailed
                    and accessible record. Dr. Opitz also leads the Project’s Digital Publication initiative, which is integrating
                    publication of the project’s complete digital archive and 3D models into the
                    <i>​Gabii Project Reports</i>, a series of digital volumes on the results and findings of the Gabii Project
                    excavations.
                </p>
            </div>
        </div>
    </div>
</div>



<!-- Paragraph 5 -->
<div class="container">
    <div class="row cvast-paragraph-box cvast-media-block">
        <div class="col-sm-4 cvast-paragraph-box-left-container">
            <h1>Acknowledgment</h1>
        </div>
        <div class="col-sm-8">
            <div class="cvast-paragraph-box-body">
                <p><i>The Gabii Project, based at the University of Michigan, is led by Prof. Nicola Terrenato. The project is supported by generous grants from the University of Michigan, the Kelsey Museum of Archaeology, the National Endowment for the Humanities, FIAT-Chrysler, the National Geographic Society, the Loeb Classical Library Foundation, and several private donors.</i>
                </p>
                <p><i>The Gabii Project is grateful for the continued and ongoing support for our fieldwork on the part of the Ministero per i Beni e le Attività Culturali and especially La Soprintendenza Speciale per i Beni Archeologici di Roma and La Soprintendenza per i Beni Archeologici del Lazio.</i></p>
            </div>
        </div>
    </div>
</div>

<!-- End Images -->

{% include 'projects/project_footer.htm' %}
</div>

{% endblock content %}