arches-cvast/arches/.idea/arches.iml
arches-cvast/arches/.idea/modules.xml
arches-cvast/arches/.idea/vcs.xml
arches-cvast/arches/.idea/workspace.xml
get-pip.py
.idea/arches-docker.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
arches-cvast/arches/.idea/dictionaries/CVAST.xml
arches-cvast/arches/.idea/inspectionProfiles/Project_Default.xml
arches-cvast/arches/.idea/inspectionProfiles/profiles_settings.xml
arches-cvast/arches/.idea/misc.xml
arches/arches/arches.log
.vs/arches-cvast/v14/.suo
.vs/config/applicationhost.config
arches-cvast.pyproj
arches-cvast.sln
arches-cvast.sln.DotSettings.user
arches/.idea/arches.iml
arches/.idea/misc.xml
arches/.idea/modules.xml
arches/.idea/vcs.xml
arches/.idea/workspace.xml
arches/arches/db/install_db.sql
bin/AzureSetup.cfg
bin/Microsoft.PythonTools.AzureSetup.exe
bin/Microsoft.PythonTools.AzureSetup.exe.config
bin/Microsoft.PythonTools.WebRole.dll
bin/wfastcgi.py
obj/Debug/__init__.py
obj/Debug/__main__.py
obj/Debug/arches-cvast.pyproj.FileListAbsolute.txt
obj/Debug/attach_server.py
obj/Debug/visualstudio_py_debugger.py
obj/Debug/visualstudio_py_repl.py
obj/Debug/visualstudio_py_util.py
arches-cvast.pyproj.user
