{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<div class="block-description cvast-project-title">
    <div class="container">
        <div class="row cvast-paragraph-box">
            <div class="col-sm-4 cvast-paragraph-box-left-container">
                <h1>Calatrava La Vieja</h1>
                <h5><i class="fa fa-map-marker"></i>La Mancha, Spain</h5>
            </div>
            <div class="col-sm-8">
                <div class="cvast-paragraph-box-body">
                    <p><a href="https://en.wikipedia.org/wiki/Calatrava_la_Vieja" target="_blank">Calatrava la Vieja</a> was
                        an Islamic fortification and town, and became the original home of the Christian <a href="https://en.wikipedia.org/wiki/Order_of_Calatrava"
                            target="_blank">Order of Calatrava</a>. It was occupied between AD 725 and AD 1217.</p>
                    <p>This site is contributing to our research in the archaeology of fortification, water control systems,
                        ecclesiastical architecture and other topics.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div align="center" class="cvast-background-image-title">
    <h5>View from our drone</h5>
</div>
<div class="background-image" style="background-image: url({% static 'img/projects/la_mancha/calatrava_la_vieja/calatrava_la_vieja_aerial.jpg' %}); height: 850px; background-position: 40% 70%;"></div>


<!-- Videos -->
<div class="container padding-top-20">
    <div class="row cvast-paragraph-box-video">
        <div class="col-sm-4 cvast-paragraph-box-video-left-container">
            <h1>Videos</h1>
        </div>
        <div class="col-sm-8">
            <div class="cvast-paragraph-box-video-body">
                <p>This animation shows a rendering of point clouds that CVAST created by scanning Calatrava la Vieja using
                    terrestrial laser scanners.
                </p>
            </div>
        </div>
    </div>
</div>
<figure id="video-player">
    <video controls poster="{% static 'img/projects/la_mancha/calatrava_la_vieja/video_thumbnails/CLV_Combo.png' %}" loop="">
        <source src="{{ S3_STATIC_URL }}/streaming/CLV_Combo-streaming.mp4" type="video/mp4">
    </video>
    <figcaption>
        <a href="{{ S3_STATIC_URL }}/streaming/CLV_Combo-streaming.mp4"><img src="{% static 'img/projects/la_mancha/calatrava_la_vieja/video_thumbnails/CLV_Combo.png' %}" alt=""></a>
    </figcaption>
</figure>
<!-- End Videos -->


<!-- Photos -->
<div class="block-description cvast-media-block">

    <div align="center" class="cvast-background-image-title">
        <h5>Scanning an ancient watermill</h5>
    </div>
    <div class="background-image" style="background-image: url({% static 'img/projects/la_mancha/calatrava_la_vieja/calatrava_la_vieja_waterworks.jpg' %}); background-position: 25% 50%;"></div>

</div>
<!-- End photos -->


{% include 'projects/la_mancha/project_footer_la_mancha.htm' %} {% endblock content %}