{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<!--=== Content Part ===-->
<div class="block-description cvast-project-title">
    <div class="container content padding-top-20">
        <h1 class="arches-breadcrumb-title cvast-page-title">{% trans "La Mancha Project" %}</h1>
    </div>

    <div class="block-description">
        <div class="container">
            <div class="row cvast-paragraph-box">
                <div class="col-sm-4 cvast-paragraph-box-left-container">
                    <h1>Partnership with the University of Castilla-La Mancha</h1>
                    <h5><i class="fa fa-map-marker"></i>La Mancha, Spain</h5>
                </div>
                <div class="col-sm-8">
                    <div class="cvast-paragraph-box-body">
                        <p>CVAST Executive Director Herbert Maschner and Dr. Victor Manuel Lopez-Menchero Bendicho, an archaeologist
                            associated with the University of Castilla-La Mancha, are collaborating to investigate the archaeological
                            heritage of the La Mancha region of Spain.</p>
                        <p>This collaboration is creating a collection of 3D scan and photogrammetry data on fortifications,
                            religious architecture, public spaces and bull rings, and other monuments critical to both global
                            research and the heritage of the region.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="background-image" style="background-image: url({% static 'img/projects/la_mancha/La_Vieja.jpg' %}); background-position: 50% 50%;"></div>

</div>

{% include 'projects/la_mancha/project_footer_la_mancha.htm' %} {% endblock content %}