{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<div class="block-description cvast-project-title">
    <div class="container">
        <div class="row cvast-paragraph-box cvast-media-block">
            <div class="col-sm-4 cvast-paragraph-box-left-container">
                <h1>La Motilla del Azuer</h1>
                <h5><i class="fa fa-map-marker"></i>La Mancha, Spain</h5>
            </div>
            <div class="col-sm-8">
                <div class="cvast-paragraph-box-body">
                    <p>The <a href="https://es.wikipedia.org/wiki/Motilla_del_Azuer" target="_blank">Motilla del Azuer</a> is
                        a Bronze Age fortified farming community in La Mancha, Spain. Motillas are organized around deep
                        wells, and are fortified to protect access to water. </p>
                    <p>The site is contributing to our research on fortifications, warfare, and water control systems.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div align="center" class="cvast-background-image-title">
    <h5>View from our blimp</h5>
</div>
<div class="background-image" style="background-image: url({% static 'img/projects/la_mancha/la_motilla_del_azuer/la_motilla_del_azuer_aerial.jpg' %}); background-position: 50% 30%;"></div>


<div class="container padding-top-20">
    <div class="row cvast-paragraph-box cvast-media-block">
        <div class="col-sm-4 cvast-paragraph-box-left-container">
            <h1>3D models</h1>
        </div>
    </div>
</div>
<div align="center" class="sketchfab-embed-wrapper cvast-sketchfab-embeded">
    <div align="center" class="cvast-background-image-title">
        <h5>3D model of the Motilla del Azuer</h5>
    </div>
    <iframe src="https://sketchfab.com/models/820ff9597ee84d3996589c37acce38a7/embed" frameborder="0" allowfullscreen mozallowfullscreen="true"
        webkitallowfullscreen="true" onmousewheel=""></iframe>

    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
        <a href="https://sketchfab.com/models/820ff9597ee84d3996589c37acce38a7?utm_medium=embed&utm_source=website&utm_campain=share-popup"
            target="_blank" style="font-weight: bold; color: #1CAAD9;">Motilla del Azuer</a> by
        <a href="https://sketchfab.com/cvast?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">CVAST</a>        on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
    </p>
</div>



<!-- Videos -->
<div class="container padding-top-20">
    <div class="row cvast-paragraph-box-video cvast-media-block">
        <div class="col-sm-4 cvast-paragraph-box-video-left-container">
            <h1>Videos</h1>
        </div>
    </div>
</div>
<div class="block-description">
    <div align="center" class="cvast-background-image-title">
        <h5>Animation resulted from a meshed 3D model created with photogrammetry</h5>
        <p>The photos were taken using our DJI Phantom 4 drone.
        </p>
    </div>
    <div>
        <video align="center" class="cvast-video-full" style="max-height: 80vh;" controls poster="{% static 'img/projects/la_mancha/la_motilla_del_azuer/video_thumbnails/Motilla_del_Azuer_Photogrammetric_Model.png' %}"
            loop="">
            <source src="{{ S3_STATIC_URL }}/streaming/Motilla_del_Azuer_Photogrammetric_Model-streaming.mp4" type="video/mp4">
        </video>
    </div>
</div>


<!--<div class="container padding-top-20">
    <div class="row cvast-paragraph-box-video cvast-media-block">
        <div class="col-sm-4 cvast-paragraph-box-video-left-container">
            <h1>Videos</h1>
        </div>
        <div class="col-sm-8">
            <div class="cvast-paragraph-box-video-body">
                <p>The following animation resulted from a meshed 3D model created with photogrammetry. The photos were taken
                    using our DJI Phantom 4 drone.
                </p>
            </div>
        </div>
    </div>
</div>
<figure id="video-player">
    <video controls poster="{% static 'img/projects/la_mancha/la_motilla_del_azuer/video_thumbnails/Motilla_del_Azuer_Photogrammetric_Model.png' %}"
        loop="">
        <source src="{{ S3_STATIC_URL }}/streaming/Motilla_del_Azuer_Photogrammetric_Model-streaming.mp4" type="video/mp4">
    </video>
    <figcaption>
        <a href="{{ S3_STATIC_URL }}/streaming/Motilla_del_Azuer_Photogrammetric_Model-streaming.mp4"><img src="{% static 'img/projects/la_mancha/la_motilla_del_azuer/video_thumbnails/Motilla_del_Azuer_Photogrammetric_Model.png' %}"
                alt=""></a>
    </figcaption>
</figure>-->
<!-- End Videos -->


<!-- Photos -->
<div class="container padding-top-20">
    <div class="row cvast-paragraph-box cvast-media-block">
        <div class="col-sm-4 cvast-paragraph-box-left-container">
            <h1>Scanning the Motilla with terrestrial laster scanners</h1>
        </div>
    </div>
</div>

<div align="center" class="cvast-background-image-title">
    <h5>Setting up scanners and spheres</h5>
</div>
<div class="background-image" style="background-image: url({% static 'img/projects/la_mancha/la_motilla_del_azuer/la_motilla_del_azuer.jpg' %}); background-position: 20% 50%;"></div>

<div align="center" class="cvast-background-image-title cvast-background-image-title-notfirstrow">
    <h5>View into the Bronze Age well</h5>
</div>
<div class="background-image" style="background-image: url({% static 'img/projects/la_mancha/la_motilla_del_azuer/la_motilla_del_azuer_well.jpg' %}); background-position: 70% 70%;"></div>


<div align="center" class="cvast-background-image-title cvast-background-image-title-notfirstrow">
    <h5>Scanning storage silos</h5>
</div>
<div class="background-image" style="background-image: url({% static 'img/projects/la_mancha/la_motilla_del_azuer/la_motilla_del_azuer_storage_silos.jpg' %}); background-position: 52% 52%;"></div>


<div class="container padding-top-20">
    <div class="row cvast-paragraph-box cvast-media-block">
        <div class="col-sm-4 cvast-paragraph-box-left-container">
            <h1>Preliminary results</h1>
        </div>
    </div>
</div>

<div align="center" class="cvast-background-image-title">
    <h5>Elevation model of the well</h5>
</div>
<div class="background-image" style="background-image: url({% static 'img/projects/la_mancha/la_motilla_del_azuer/la_motilla_del_azuer_elevation.jpg' %}); height: 800px; background-position: 100% 50%;"></div>
<!-- End photos -->

{% include 'projects/la_mancha/project_footer_la_mancha.htm' %} {% endblock content %}