{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<div class="block-description cvast-project-title">
	<div class="container">
		<div class="row cvast-paragraph-box cvast-media-block">
			<div class="col-sm-4 cvast-paragraph-box-left-container">
				<h1>Molinos de Campo de Criptana</h1>
				<h5><i class="fa fa-map-marker"></i>La Mancha, Spain</h5>
			</div>
			<div class="col-sm-8">
				<div class="cvast-paragraph-box-body">
					<p>The <a href="https://es.wikipedia.org/wiki/Molinos_de_Campo_de_Criptana" target="_blank">Molinos de Campo de Criptana</a>,
						or windmills in the tradition of <i>Don Quixote</i>, are some of the last remaining 16th century mills preserved in
						Spain.
					</p>
					<p>We scanned the entire internal mechanism of one of the last with a complete, hand-carved, gear system.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div align="center" class="cvast-background-image-title cvast-background-image-spacer">
	<h5>Set up of our terrestrial laser scanners</h5>
</div>
<div class="background-image" style="background-image: url({% static 'img/projects/la_mancha/molinos_de_campo_de_criptana/la_mancha_molinos_de_campo_de_criptana.jpg' %});  height: 950px; background-position: 50% 50%;"></div>


<!-- Sketchfab -->
<div class="container padding-top-20">
	<div class="row cvast-paragraph-box cvast-media-block">
		<div class="col-sm-4 cvast-paragraph-box-left-container">
			<h1>3D models</h1>
		</div>
	</div>
</div>

<div id="cvast-sketchfab-viewer" align="center" class="sketchfab-embed-wrapper cvast-sketchfab-embeded">

	<iframe src="https://sketchfab.com/playlists/embed?collection=a828fad45f5f47b392a6cceac94c7c21" frameborder="0" allowfullscreen
		mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

	<p>
		<a href="https://sketchfab.com/cvast/collections/molinos-de-campo-de-criptana" target="_blank">Molinos de Campo de Criptana</a>		by
		<a href="https://sketchfab.com/cvast" target="_blank">CVAST</a> on <a href="https://sketchfab.com" target="_blank">Sketchfab</a>
	</p>

</div>
<!-- End Sketchfab -->


<!-- Videos -->
<div class="container padding-top-20">
	<div class="row cvast-paragraph-box-video cvast-media-block">
		<div class="col-sm-4 cvast-paragraph-box-video-left-container">
			<h1>Videos</h1>
		</div>
		<div class="col-sm-8">
			<div class="cvast-paragraph-box-video-body">
				<p>These animations show renderings of point clouds that CVAST created by scanning the Molinos de Campo de Criptana using
					terrestrial laser scanners. Especially interesting is the original mechanism of the windmill, visible in both animations.
				</p>
			</div>
		</div>
	</div>
</div>
<figure id="video-player">
	<video controls poster="{% static 'img/projects/la_mancha/molinos_de_campo_de_criptana/video_thumbnails/WindMill_1.png' %}"
		loop="">
		<source src="{{ S3_STATIC_URL }}/streaming/la_mancha/molinos_de_campo_de_criptana/WindMill_1-streaming.mp4" type="video/mp4">
	</video>
	<figcaption>
		<a href="{{ S3_STATIC_URL }}/streaming/la_mancha/molinos_de_campo_de_criptana/WindMill_1-streaming.mp4"><img src="{% static 'img/projects/la_mancha/molinos_de_campo_de_criptana/video_thumbnails/WindMill_1.png' %}" alt=""></a>
		<a href="{{ S3_STATIC_URL }}/streaming/la_mancha/molinos_de_campo_de_criptana/Windmill_exterior-streaming.mp4"><img src="{% static 'img/projects/la_mancha/molinos_de_campo_de_criptana/video_thumbnails/Windmill_exterior.png' %}" alt=""></a>
	</figcaption>
</figure>
<!-- End Videos -->


<!-- Photos -->
<div class="container padding-top-20">
	<div class="row cvast-paragraph-box cvast-media-block">
		<div class="col-sm-4 cvast-paragraph-box-left-container">
			<h1>Preliminary results</h1>
		</div>
	</div>
</div>

<div align="center" class="cvast-background-image-title">
	<h5>A model of one of the scanned windmills</h5>
</div>
<div class="background-image" style="background-image: url({% static 'img/projects/la_mancha/molinos_de_campo_de_criptana/la_mancha_molinos_de_campo_de_criptana_1.png' %});  height: 750px; background-position: 65% 70%;"></div>

<div align="center" class="cvast-background-image-title cvast-background-image-spacer">
	<h5>Orthophoto with interior and exterior</h5>
</div>
<div class="background-image" style="background-image: url({% static 'img/projects/la_mancha/molinos_de_campo_de_criptana/la_mancha_molinos_de_campo_de_criptana_orthophoto.png' %});  height: 750px; background-position: 65% 70%;"></div>

<!-- End photos -->

{% include 'projects/la_mancha/project_footer_la_mancha.htm' %} {% endblock content %}