{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<div class="block-description cvast-project-title">
    <div class="container content padding-top-20">
        <div class="row cvast-paragraph-box">
            <div class="col-sm-4 cvast-paragraph-box-left-container">
                <h1>Plaza de toros de Ciudad Real</h1>
                <h5><i class="fa fa-map-marker"></i>La Mancha, Spain</h5>
            </div>
            <div class="col-sm-8">
                <div class="cvast-paragraph-box-body">
                    <p><a href="https://es.wikipedia.org/wiki/Plaza_de_toros_de_Ciudad_Real" target="_blank">Plaza de toros de Ciudad Real</a> is a typical example of a 19th century bull ring after administrative centers took control of this form of public space.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div align="center" class="cvast-background-image-title">
    <h5>Cross section perspective</h5>
</div>
<div class="background-image" style="background-image: url({% static 'img/projects/la_mancha/plaza_de_toros_de_ciudad_real/plaza_de_toros_de_ciudad_real.png' %}); height: 400px; background-position: 50% 50%;"></div>


<!-- Photos -->
<div class="block-description cvast-media-block">

</div>
<!-- End photos -->

{% include 'projects/la_mancha/project_footer_la_mancha.htm' %} {% endblock content %}