{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<div class="block-description cvast-project-title">
    <div class="container">
        <div class="row cvast-paragraph-box cvast-media-block">
            <div class="col-sm-4 cvast-paragraph-box-left-container">
                <h1>Plaza de toros de Ciudad Real</h1>
                <h5><i class="fa fa-map-marker"></i>La Mancha, Spain</h5>
            </div>
            <div class="col-sm-8">
                <div class="cvast-paragraph-box-body">
                    <p><a href="https://es.wikipedia.org/wiki/Plaza_de_toros_de_Ciudad_Real" target="_blank">Plaza de toros de Ciudad Real</a>                        is a typical example of a 19th century bull ring after administrative centers took control of this
                        form of public space.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cvast-image-and-title-container">
    <div align="center" class="cvast-background-image-title cvast-background-image-spacer">
        <h5>Interior / Exterior perspective</h5>
    </div>
    <div class="cvast-image-full-view">
        <img src="{{ S3_STATIC_URL_IMG }}/projects/la_mancha/plaza_de_toros_de_ciudad_real/plaza_de_toros_ciudad_real_1.jpg" alt="" />
    </div>
</div>


<div class="cvast-image-and-title-container">
    <div align="center" class="cvast-background-image-title cvast-background-image-spacer">
        <h5>Cross section slice</h5>
    </div>
    <div class="cvast-image-full-view">
        <img src="{{ S3_STATIC_URL_IMG }}/projects/la_mancha/plaza_de_toros_de_ciudad_real/plaza_de_toros_ciudad_real_6.png" alt="" />
    </div>
</div>


<div class="cvast-image-and-title-container">
    <div align="center" class="cvast-background-image-title cvast-background-image-spacer">
        <h5>Cross section perspective</h5>
    </div>
    <div class="cvast-image-full-view">
        <img src="{{ S3_STATIC_URL_IMG }}/projects/la_mancha/plaza_de_toros_de_ciudad_real/plaza_de_toros_ciudad_real_3.jpg" alt="" />
    </div>
</div>


<div class="cvast-image-and-title-container">
    <div align="center" class="cvast-background-image-title cvast-background-image-spacer">
        <h5>Planview perspective</h5>
    </div>
    <div class="cvast-image-full-view">
        <img src="{{ S3_STATIC_URL_IMG }}/projects/la_mancha/plaza_de_toros_de_ciudad_real/plaza_de_toros_ciudad_real_8.jpg" alt="" />
    </div>
</div>


<div class="cvast-image-and-title-container">
    <div align="center" class="cvast-background-image-title cvast-background-image-spacer">
        <h5>Elevation perspective</h5>
    </div>
    <div class="cvast-image-full-view">
        <img src="{{ S3_STATIC_URL_IMG }}/projects/la_mancha/plaza_de_toros_de_ciudad_real/plaza_de_toros_ciudad_real_12.jpg" alt="" />
    </div>
</div>


{% include 'projects/la_mancha/project_footer_la_mancha.htm' %} {% endblock content %}