{% extends 'projects/project_footer_base.htm' %} {% load staticfiles %} {% load i18n %} {% block content %}


<!--Title Box-->
<div class="title-box no-border margin-top-minus-10" style="border-bottom-color: #dcdcdc;">
    <h5>Explore La Mancha sites</h5>
</div>
<!-- End Title Box -->

<!-- Promo Boxes -->
<div class="row">

    <div class="col-sm-4">
        <div class="servive-block servive-block-default" style="background: #ffffff;">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-fort-awesome"></i>
            <a class="" href="{% url 'projects_subproject' project_name='la-mancha' resource_name='la-motilla-del-azuer' %}">
                <h2 class="txt-color-blue">La Motilla del Azuer</h2>
            </a>
            <h4 class="cvast-location-title"><i class="fa fa-map-marker"></i>La Mancha, Spain</h4>
            <p>A spectacular, one-of-a-kind Bronze Age site built to defend crops and natural resources</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="servive-block servive-block-default" style="background: #ffffff;">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-fort-awesome"></i>
            <a class="" href="{% url 'projects_subproject' project_name='la-mancha' resource_name='calatrava-la-nueva' %}">
                <h2 class="txt-color-blue">Calatrava la Nueva</h2>
            </a>
            <h4 class="cvast-location-title"><i class="fa fa-map-marker"></i>La Mancha, Spain</h4>
            <p>A crusader-period castle built in the battle against invading Moors</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="servive-block servive-block-default" style="background: #ffffff;">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-fort-awesome"></i>
            <a class="" href="{% url 'projects_subproject' project_name='la-mancha' resource_name='calatrava-la-vieja' %}">
                <h2 class="txt-color-blue">Calatrava la Vieja</h2>
            </a>
            <h4 class="cvast-location-title"><i class="fa fa-map-marker"></i>La Mancha, Spain</h4>
            <p>A crusader-period castle with a history ranging back to prehistoric times</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="servive-block servive-block-default" style="background: #ffffff;">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-fort-awesome"></i>
            <a class="" href="{% url 'projects_subproject' project_name='la-mancha' resource_name='santuario-virgen-de-las-nieves' %}">
                <h2 class="txt-color-blue">Santuario Virgen de las Nieves</h2>
            </a>
            <h4 class="cvast-location-title"><i class="fa fa-map-marker"></i>La Mancha, Spain</h4>
            <p>A historic church with bull ring annex, used to control public festivities</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="servive-block servive-block-default" style="background: #ffffff;">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-fort-awesome"></i>
            <a class="" href="{% url 'projects_subproject' project_name='la-mancha' resource_name='plaza-de-toros-de-ciudad-real' %}">
                <h2 class="txt-color-blue">Plaza de toros de Ciudad Real</h2>
            </a>
            <h4 class="cvast-location-title"><i class="fa fa-map-marker"></i>La Mancha, Spain</h4>
            <p>A historic bullring, in use to this very today</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="servive-block servive-block-default" style="background: #ffffff;">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-fort-awesome"></i>
            <a class="" href="{% url 'projects_subproject' project_name='la-mancha' resource_name='molinos-de-campo-de-criptana' %}">
                <h2 class="txt-color-blue">Molinos de Campo de Criptana</h2>
            </a>
            <h4 class="cvast-location-title"><i class="fa fa-map-marker"></i>La Mancha, Spain</h4>
            <p>The very same windmills that inspired Cervantes to write Don Quixote</p>
        </div>
    </div>

</div>
<!-- End Promo Boxes -->
{% endblock content %}