{% extends "base.htm" %} {% load staticfiles %} {% load wagtailcore_tags %} 
{% block css %} {{ block.super }} {% endblock css %} 


{% block content %}

<div class="block-description cvast-project-title">
    <div class="container content padding-top-20">
        <h1 class="arches-breadcrumb-title cvast-page-title">{{ page.get_parent.title }}</h1>
    </div>
</div>

{% include "news/news_title_intro.htm" with article=page %}

{% include "news/news_body.htm" with subtitle=page.subtitle body=page.body %}

{% if page.tags.all.count %}
    <div class="tags">
        <h3>Tags</h3>
        {% for tag in page.tags.all %}
            <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}