{% load staticfiles %}
{% load i18n %}
{% load wagtailcore_tags %}

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="text-align: center">                     
                <p>
                    Center for Virtualization and Applied Spatial Technologies
                </p>
            </div>
            <div class="col-md-6">  
                <a href="/">
                    <img class="pull-right arches-logo-copyright" id="logo-footer" src="{{ STATIC_URL }}img/cvast_logo2.0_small.png" alt="">
                </a>
            </div>
        </div>
    </div> 
</div>