{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<div class="block-description cvast-project-title">
    <div class="container content padding-top-20">
        <h1 class="arches-breadcrumb-title cvast-page-title">{% trans "Software" %}</h1>
    </div>
</div>

<div class="block-description">
    <div class="container">
        <div class="row cvast-paragraph-box cvast-paragraph-box-after-title">
            <div class="col-sm-4 cvast-paragraph-box-left-container">
                <h1>Software</h1>
                <h5><i class="fa fa-code"></i>Open Source</h5>
            </div>
            <div class="col-sm-8">
                <div class="cvast-paragraph-box-body">
                    <p>Part of our mission is to make all software we develop available to the public, in order to make technology
                        accessible and to invite collaboration.
                    </p>
                    <p>
                        All the source code of our applications can be found on <a href="https://github.com/cvast" target="_blank">Github</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div align="center" class="cvast-background-image-title cvast-background-image-spacer">
    <h5><a href="{% url 'projects_project_index' project_name='dycast' %}">Dycast</a> source code</h5>
</div>
<div class="background-image" style="background-image: url({{ S3_STATIC_URL_IMG }}/software/zikast.png);"></div>


{% include 'projects/project_footer.htm' %} {% endblock content %}