{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<!--=== Content Part ===-->
<div class="block-description cvast-project-title">
	<div class="container content padding-top-20">
		<h1 class="arches-breadcrumb-title cvast-page-title">{% trans "ZIKAST" %} <img src="{% static 'img/projects/zikast/zikast_logo.png' %}" style="max-height: 50px; padding-left: 10px;"
			/></h1>
	</div>

	<div class="block-description">
		<div class="container">
			<div class="row cvast-paragraph-box cvast-paragraph-box-after-title">
				<div class="col-sm-4 cvast-paragraph-box-left-container">
					<h1>Zika virus early warning system </h1>
					<h5><i class="fa fa-map-marker"></i>Florida, Puerto Rico, and Brazil</h5>
				</div>
				<div class="col-sm-8">
					<div class="cvast-paragraph-box-body">
						<p>Zika virus transmission is now a global pandemic, for which the WHO has declared an international emergency. In the U.S., Florida
							is “ground zero” for Zika, with already hundreds of locally-transmitted cases in multiple counties. While this disease
							can cause illness and paralysis in adults, it is linked to a variety of devastating birth defects, including brain
							deformities (microcephaly), frequent seizures, and skeletal abnormalities. However, there is no cure for Zika, and
							a vaccine is years away. Thus, the only method to reduce the spread of the disease is through timely surveillance
							and targeted mosquito control.
						</p>
						<p>
							Therefore, we are developing an early warning system for Zika virus. A collaboration between <a href="{% url 'people'%}#ryan"
								target="_blank">Prof. Ryan Carney</a>, Prof. Sean Ahearn (CUNY), and several international institutions, this geospatial
							model will build upon our team’s previously successful results predicting and controlling epidemics of similar mosquito-borne
							viruses: dengue and West Nile. This model will be implemented in Florida, Puerto Rico, and Brazil, for the early and
							accurate identification of areas at high risk for Zika virus transmission. Real-time risk maps will be generated and
							supplied to local agencies, in order to target mosquito control, surveillance, and public education campaigns. Plans
							also include developing this predictive model into a free, open-source software solution to fight the spread of Zika
							virus around the world.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div align="center" class="cvast-background-image-title cvast-background-image-spacer">
		<h5>West Nile virus early warning system (red=high risk, black=human cases).</h5>
		<p>From: <a href="http://wwwnc.cdc.gov/eid/article/17/8/10-0411_article" target="_blank">Carney et al 2011 <i>Emerging Infectious Diseases</i></a></p>
	</div>
	<div class="background-image" style="background-image: url({% static 'img/projects/zikast/04_wnv_dycast_epidemic.png' %}); background-size: auto 100%; background-size: fit;"></div>


	<!-- Videos -->
	<div align="center" class="cvast-background-image-title cvast-background-image-spacer">
		<h5 id="cvast-video-caption">West Nile virus early warning system (red=high risk, black=human cases).</h5>
		<p>From: <a href="http://wwwnc.cdc.gov/eid/article/17/8/10-0411_article" target="_blank">Carney et al 2011 <i>Emerging Infectious Diseases</i></a></p>
	</div>
	<video align="center" class="cvast-video-full" controls poster="{% static 'img/projects/zikast/video_thumbnails/03_wnv_dycast_480x560_video.png' %}"
		loop="" style="max-height: 560px;">
		<source src="{{ S3_STATIC_URL }}/streaming/zikast/03_WNV+DYCAST_480x560_video.webm">
	</video>
	<!-- End Videos -->

	{% include 'projects/project_footer.htm' %}
</div>

{% endblock content %}