{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<!--=== Content Part ===-->
<div class="block-description cvast-project-title">
	<div class="container content padding-top-20">
		<h1 class="arches-breadcrumb-title cvast-page-title">{% trans "ZIKAST" %} <img src="{{ S3_STATIC_URL_IMG }}/projects/zikast/zikast_logo.png" style="max-height: 50px; padding-left: 10px;"
			/></h1>
	</div>

	<div class="block-description">
		<div class="container">
			<div class="row cvast-paragraph-box cvast-paragraph-box-after-title">
				<div class="col-sm-4 cvast-paragraph-box-left-container">
					<h1>Zika virus early warning system </h1>
					<h5><i class="fa fa-map-marker"></i>Florida and Brazil</h5>
				</div>
				<div class="col-sm-8">
					<div class="cvast-paragraph-box-body">
						<p>Zika virus transmission is now a global pandemic, for which the WHO has declared an international emergency. In the
							U.S., Florida is “ground zero” for Zika, with already hundreds of locally-transmitted cases in multiple counties.
							While this disease can cause illness and paralysis in adults, it is linked to a variety of devastating birth defects,
							including brain deformities (microcephaly), frequent seizures, and skeletal abnormalities. However, there is no cure
							for Zika, and a vaccine is years away. Thus, the only method to reduce the spread of the disease is through timely
							surveillance and targeted mosquito control.
						</p>
						<p>
							Therefore, we are developing an early warning system for Zika virus. A collaboration between <a href="{% url 'about_us_subpage' about_us_name='people' %}#ryan"
							 target="_blank">Prof. Ryan Carney</a>, Prof. Sean Ahearn (CUNY), and several international institutions, this geospatial
							model will build upon our team’s previously successful results predicting and controlling epidemics of similar mosquito-borne
							viruses: dengue and West Nile. This model will be implemented in Florida and Brazil, for the early and accurate identification
							of areas at high risk for Zika virus transmission. Real-time risk maps will be generated and supplied to local agencies,
							in order to target mosquito control, surveillance, and public education campaigns. Plans also include developing this
							predictive model into a free, open-source software solution to fight the spread of Zika virus around the world.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- images -->
<div align="center" class="cvast-background-image-title cvast-background-image-spacer" style="margin-bottom: 10px;">
	<h5>Schematic of the Dynamic Continuous-Area Space-Time (DYCAST) procedure</h5>
	<p>From: <a href="http://wwwnc.cdc.gov/eid/article/17/8/10-0411_article" target="_blank">Carney et al 2011 <i>Emerging Infectious Diseases</i></a></p>
	<img src="{{ S3_STATIC_URL_IMG }}/projects/zikast/dycast_monte_carlo.png" style="max-height: 90vh; max-width: 100%; object-fit: contain;"
	/>
</div>

<div align="center" class="cvast-background-image-title cvast-background-image-spacer" style="margin-bottom: 10px;">
	<h5>West Nile virus early warning system (red=high risk, black=human cases).</h5>
	<p>From: <a href="http://wwwnc.cdc.gov/eid/article/17/8/10-0411_article" target="_blank">Carney et al 2011 <i>Emerging Infectious Diseases</i></a></p>
	<img src="{{ S3_STATIC_URL_IMG }}/projects/zikast/04_wnv_dycast_epidemic.png" style="max-height: 90vh; max-width: 100%; object-fit: contain;"
	/>
</div>


<!-- Videos -->
<div align="center" class="cvast-background-image-title cvast-background-image-spacer">
	<h5 id="cvast-video-caption">West Nile virus early warning system (red=high risk, black=human cases).</h5>
	<p>From: <a href="http://wwwnc.cdc.gov/eid/article/17/8/10-0411_article" target="_blank">Carney et al 2011 <i>Emerging Infectious Diseases</i></a></p>
</div>
<video align="center" class="cvast-video-full" controls poster="{{ S3_STATIC_URL_IMG }}/projects/zikast/video_thumbnails/03_wnv_dycast_480x560_video.png"
 loop="" style="max-height: 560px;">
	<source src="{{ S3_STATIC_URL_VIDEO }}/zikast/03_WNV+DYCAST_480x560_video.webm">
</video>
<!-- End Videos -->



<!-- Paragraph 1 -->
<div class="container">
	<div class="row cvast-paragraph-box cvast-media-block cvast-background-image-spacer">
		<div class="col-sm-4 cvast-paragraph-box-left-container">
			<h1><i class="fa fa-code"></i>Open Source</h1>
		</div>
		<div class="col-sm-8">
			<div class="cvast-paragraph-box-body">
				<p>DYCAST 2.0 (by CVAST): <a href="https://github.com/cvast/cvast-zikast" target="_blank">https://github.com/cvast/cvast-zikast</a></p>
				<p>DYCAST 1.0 (by Alan McConchie): <a href="https://github.com/almccon/DYCAST" target="_blank">https://github.com/almccon/DYCAST</a></p>
			</div>
		</div>
	</div>
</div>


​
<!-- Paragraph 2 -->
<div class="container">
	<div class="row cvast-paragraph-box cvast-media-block">
		<div class="col-sm-4 cvast-paragraph-box-left-container">
			<h1><i class="fa fa-university"></i>Institutions</h1>
		</div>
		<div class="col-sm-8">
			<div class="cvast-paragraph-box-body">
				<p>Center for Virtualization & Applied Spatial Technologies (CVAST): <a href="https://cvast.usf.edu/projects/zikast" target="_blank">https://cvast.usf.edu/projects/zikast</a></p>
				<p>Center for Advanced Research of Spatial Information (CARSI): <a href="http://carsilab.org" target="_blank">http://carsilab.org</a></p>
			</div>
		</div>
	</div>
</div>



​
<!-- Paragraph 3 -->
<div class="container">
	<div class="row cvast-paragraph-box cvast-media-block">
		<div class="col-sm-4 cvast-paragraph-box-left-container">
			<h1><i class="fa fa-newspaper-o"></i>DYCAST papers</h1>
		</div>
		<div class="col-sm-8">
			<div class="cvast-paragraph-box-body cvast-text-align-left">
				<h5>Early warning system for West Nile virus risk areas, California, USA</h5>
				<p>Carney RM, Ahearn SC, McConchie A, Glaser C, Jean C, Barker C, Park B, Padgett K, Parker E, Aquino E, Kramer V. 2011.
					Emerging Infectious Diseases 17(8):1445-54.
					<a href="http://docs.wixstatic.com/ugd/9006a7_64c9d72102174f759df61d041a4c5ac6.pdf" target="_blank">PDF</a>
				</p>
				</br>
				<h5>GIS-based early warning system for predicting high-risk areas of dengue virus transmission, Ribeirão Preto, Brazil</h5>
				<p>Carney RM. 2010. Masters Thesis, Yale University.
					<a href="http://docs.wixstatic.com/ugd/9006a7_3f696aa6595b46898714aa948bd720fa.pdf" target="_blank">PDF</a>
				</p>
				</br>
				<h5>First evidence of West Nile virus amplification and relationship to human infections</h5>
				<p>Theophilides, C. N., Ahearn, S. C., Binkowski, E. S., Paul, W. S., & Gibbs, K. (2006). International Journal of Geographical
					Information Science, 20(1):103-115.
					<a href="http://www.tandfonline.com/doi/abs/10.1080/13658810500286968" target="_blank">Link</a>
				</p>
				</br>
				<h5>Identifying West Nile virus risk areas: the dynamic continuous-area space-time system</h5>
				<p>Theophilides, C. N., Ahearn, S. C., Grady, S., & Merlino, M. (2003). American Journal of Epidemiology, 157(9):843-854.
					<a href="http://aje.oxfordjournals.org/content/157/9/843.long" target="_blank">Link</a>
				</p>
				</br>
				<h5>A Comparison of two Significance Testing Methodologies for the Knox Test.</h5>
				<p>Theophilides, C. N., E. S. Binkowski, S. C. Ahearn, & W. S. Paul. (2008). International Journal of Geoinformatics 4(3).</p>
			</div>
		</div>
	</div>
</div>

​ {% include 'projects/project_footer.htm' %} {% endblock content %}