

<!-- Service Blocks -->
<div class="row margin-bottom-40">
    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-trophy"></i>
            <a class= "" href='?page=1&termFilter=[]&temporalFilter={"year_min_max"%3A[]%2C"filters"%3A[]%2C"inverted"%3Afalse}&spatialFilter={"geometry"%3A{"type"%3A""%2C"coordinates"%3A[]}%2C"buffer"%3A{"width"%3A"0"%2C"unit"%3A"ft"}%2C"inverted"%3Afalse}&mapExpanded=false&timeExpanded=false&no_filters=true&include_ids=false'><h2 class="txt-color-blue">BROWSE</h2></a>
            <p>See everything</p>                        
        </div>
    </div>

    <div class="col-sm-4">
        <div class="servive-block servive-block-default">            
            <i class="icon-custom rounded-x icon-bg-dark fa fa-bookmark-o"></i>
            <a class= "" href='/reports/75cb5c18-0e9b-43f5-8075-4fe692bf3723'><h2 class="txt-color-blue">Paris Project</h2></a>
            <p>Muséum National d'Histoire Naturelle</p>
        </div>
    </div> 

    <div class="col-sm-4">
        <div class="servive-block servive-block-default">            
            <i class="icon-custom rounded-x icon-bg-dark fa fa-tasks"></i>
            <a class= "" href='?page=1&termFilter=[]&temporalFilter={"year_min_max"%3A[]%2C"filters"%3A[]%2C"inverted"%3Afalse}&spatialFilter={"geometry"%3A{"type"%3A""%2C"coordinates"%3A[]}%2C"buffer"%3A{"width"%3A"0"%2C"unit"%3A"ft"}%2C"inverted"%3Afalse}&mapExpanded=false&timeExpanded=false&no_filters=true&include_ids=false'><h2 class="txt-color-blue">Cape Canaveral</h2></a>
            <p>Space archaeology</p>
        </div>
    </div>
</div>

<div class="row margin-bottom-40">
    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-calendar-o"></i>
            <a class= "" href='?page=1&termFilter=[]&temporalFilter={"year_min_max"%3A[]%2C"filters"%3A[]%2C"inverted"%3Afalse}&spatialFilter={"geometry"%3A{"type"%3A""%2C"coordinates"%3A[]}%2C"buffer"%3A{"width"%3A"0"%2C"unit"%3A"ft"}%2C"inverted"%3Afalse}&mapExpanded=false&timeExpanded=false&no_filters=true&include_ids=false'><h2 class="txt-color-blue">The Bro Bowl</h2></a>
            <p>Historic skatepark in Tampa, Florida</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-group"></i>
            <a class= "" href='?page=1&termFilter=[]&temporalFilter={"year_min_max"%3A[]%2C"filters"%3A[]%2C"inverted"%3Afalse}&spatialFilter={"geometry"%3A{"type"%3A""%2C"coordinates"%3A[]}%2C"buffer"%3A{"width"%3A"0"%2C"unit"%3A"ft"}%2C"inverted"%3Afalse}&mapExpanded=false&timeExpanded=false&no_filters=true&include_ids=false'><h2 class="txt-color-blue">Triumphal Arch Of L'Orange</h2></a>
            <p>27 BC - AD 14</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-file-text-o"></i>
            <a class= "" href='?page=1&termFilter=[{%22inverted%22%3Afalse%2C%22type%22%3A%22concept%22%2C%22context%22%3A%22224d300e-16ef-11e6-bec7-abb8752dd6e4%22%2C%22context_label%22%3A%22Information_Resource.E73%22%2C%22id%22%3A%22Information_Resource.E73224d300e-16ef-11e6-bec7-abb8752dd6e4%22%2C%22text%22%3A%22Information_Resource.E73%22%2C%22value%22%3A%22224d300e-16ef-11e6-bec7-abb8752dd6e4%22}]&temporalFilter={%22year_min_max%22%3A[]%2C%22filters%22%3A[]%2C%22inverted%22%3Afalse}&spatialFilter={%22geometry%22%3A{%22type%22%3A%22%22%2C%22coordinates%22%3A[]}%2C%22buffer%22%3A{%22width%22%3A%220%22%2C%22unit%22%3A%22ft%22}%2C%22inverted%22%3Afalse}&mapExpanded=false&timeExpanded=false&include_ids=true'><h2 class="txt-color-blue">Information Resources</h2></a>
            <p>Are images, videos, documents or other information carriers that describe Historic Resources</p>
        </div>
    </div>
</div>