<!-- Service Blocks -->

<div class="row margin-bottom-40">
    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-trophy"></i>
            <a class="" href='?page=1&termFilter=[]&temporalFilter={"year_min_max"%3A[]%2C"filters"%3A[]%2C"inverted"%3Afalse}&spatialFilter={"geometry"%3A{"type"%3A""%2C"coordinates"%3A[]}%2C"buffer"%3A{"width"%3A"0"%2C"unit"%3A"ft"}%2C"inverted"%3Afalse}&mapExpanded=false&timeExpanded=false&no_filters=true&include_ids=false'>
                <h2 class="txt-color-blue">BROWSE</h2>
            </a>
            <p>See everything</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-file-text-o"></i>
            <a class="" href='?page=1&termFilter=[{"inverted"%3Afalse%2C"type"%3A"concept"%2C"context"%3A"92eac8e5-ada9-4287-98f6-45d3b783c736"%2C"context_label"%3A"Cultural Period"%2C"id"%3A"BRONZE AGE92eac8e5-ada9-4287-98f6-45d3b783c736"%2C"text"%3A"BRONZE AGE"%2C"value"%3A"b16cb0a7-0ec0-4336-a97c-a1ad99ab3feb"}]&temporalFilter={"year_min_max"%3A[]%2C"filters"%3A[]%2C"inverted"%3Afalse}&spatialFilter={"geometry"%3A{"type"%3A""%2C"coordinates"%3A[]}%2C"buffer"%3A{"width"%3A"0"%2C"uni'>
                <h2 class="txt-color-blue">Bronze age</h2>
            </a>
            <p>Everything from the Bronze Age</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-bookmark-o"></i>
            <a class="" href='?page=1&termFilter=[{"inverted"%3Afalse%2C"type"%3A"term"%2C"context"%3A"c4432f46-55c2-11e6-8f39-47ce58cb4b6c"%2C"context_label"%3A"Name.E41"%2C"id"%3A"Paris 2016c4432f46-55c2-11e6-8f39-47ce58cb4b6c"%2C"text"%3A"Paris 2016"%2C"value"%3A"Paris 2016"}]&temporalFilter={"year_min_max"%3A[]%2C"filters"%3A[]%2C"inverted"%3Afalse}&spatialFilter={"geometry"%3A{"type"%3A""%2C"coordinates"%3A[]}%2C"buffer"%3A{"width"%3A"0"%2C"unit"%3A"ft"}%2C"inverted"%3Afalse}&mapExpanded=false&timeExpanded=false&include_ids=true'>
                <h2 class="txt-color-blue">Paris Project</h2>
            </a>
            <p>Muséum National d'Histoire Naturelle</p>
        </div>
    </div>

</div>

<div class="row margin-bottom-40">

    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-tasks"></i>
            <a class="" href='?page=1&termFilter=[{"inverted"%3Afalse%2C"type"%3A"term"%2C"context"%3A"c4432f46-55c2-11e6-8f39-47ce58cb4b6c"%2C"context_label"%3A"Name.E41"%2C"id"%3A"La Mancha%2C Spainc4432f46-55c2-11e6-8f39-47ce58cb4b6c"%2C"text"%3A"La Mancha%2C Spain"%2C"value"%3A"La Mancha%2C Spain"}]&temporalFilter={"year_min_max"%3A[]%2C"filters"%3A[]%2C"inverted"%3Afalse}&spatialFilter={"geometry"%3A{"type"%3A""%2C"coordinates"%3A[]}%2C"buffer"%3A{"width"%3A"0"%2C"unit"%3A"ft"}%2C"inverted"%3Afalse}&mapExpanded=false&timeExpanded=false&include_ids=true'>
                <h2 class="txt-color-blue">La Mancha, Spain</h2>
            </a>
            <p></p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-calendar-o"></i>
            <a class="" href='?page=1&termFilter=[{"inverted"%3Afalse%2C"type"%3A"string"%2C"context"%3A""%2C"context_label"%3A""%2C"id"%3A"animation"%2C"text"%3A"animation"%2C"value"%3A"animation"}]&temporalFilter={"year_min_max"%3A[]%2C"filters"%3A[]%2C"inverted"%3Afalse}&spatialFilter={"geometry"%3A{"type"%3A""%2C"coordinates"%3A[]}%2C"buffer"%3A{"width"%3A"0"%2C"unit"%3A"ft"}%2C"inverted"%3Afalse}&mapExpanded=false&timeExpanded=false&include_ids=true'>
                <h2 class="txt-color-blue">All animations</h2>
            </a>
            <p>All CVAST animations</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-group"></i>
            <a class="" href='?page=1&termFilter=[{"inverted"%3Afalse%2C"type"%3A"string"%2C"context"%3A""%2C"context_label"%3A""%2C"id"%3A"photo"%2C"text"%3A"photo"%2C"value"%3A"photo"}]&temporalFilter={"year_min_max"%3A[]%2C"filters"%3A[]%2C"inverted"%3Afalse}&spatialFilter={"geometry"%3A{"type"%3A""%2C"coordinates"%3A[]}%2C"buffer"%3A{"width"%3A"0"%2C"unit"%3A"ft"}%2C"inverted"%3Afalse}&mapExpanded=false&timeExpanded=false&include_ids=true'>
                <h2 class="txt-color-blue">All photos</h2>
            </a>
            <p>All CVAST photos</p>
        </div>
    </div>
</div>