{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}
<div class="block-description">
    <div class="container content padding-top-20">
        <h1 class="arches-breadcrumb-title cvast-page-title">{% trans "Projects" %}</h1>
    </div>
</div>


<div class="background-image" style="background-image: url({% static 'img/projects/paris_nhm_faro_arm.jpg' %}); margin-top: -50px; background-position: 50% 50%;"></div>

<div class="block-description" style="margin-top: 50px;">
    <div class="container content padding-top-20">

        <!-- La Mancha -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-6 cvast-profile-box-image-container">
                    <img class='cvast-profile-box-image' src="{% static 'img/projects/La_Vieja_thumbnail.jpg' %}" </img>
                <a href="{% url 'projects_project_index' project_name='la-mancha' %}">
                </a>
            </div>
            <div class="col-sm-6">
                <div class="cvast-profile-box-body">
                    <a href="{% url 'projects_project_index' project_name='la-mancha' %}">
                        <h2 class="txt-color-blue">La Mancha, Spain</h2>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
        <!-- La Mancha-->

        <!-- Paris NHM -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-6 cvast-profile-box-image-container">
                    <img class='cvast-profile-box-image' src="{% static 'img/about_us/technology/faro330.JPG' %}"
                        </img>
                <a href="{% url 'projects_project_index' project_name='paris-nhm' %}">
                </a>
            </div>
            <div class="col-sm-6">
                <div class="cvast-profile-box-body">
                    <a href="{% url 'projects_project_index' project_name='paris-nhm' %}">
                        <h2 class="txt-color-blue">Paris, France: Natural History Museum</h2>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
        <!-- End Paris NHM -->

    </div>
</div>

<!-- End Content Part -->
{% endblock content %}