{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<!--=== Content Part ===-->
<div class="block-description">
    <div class="container content padding-top-20">
        <h1 class="arches-breadcrumb-title cvast-page-title">{% trans "La Mancha, Spain - 2016" %}</h1>
    </div>
</div>


<!-- Motilla -->
<div class="block-description cvast-video-block" style="margin-top: 50px;">
    <div class="container content padding-top-20">
        <div class="row cvast-profile-box">
            <div class="col-sm-4 cvast-profile-box-image-container">
                <h1>La Motilla del Azuer</h1>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. </p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="background-image" style="background-image: url({% static 'img/projects/la_mancha/la_motilla_del_azuer.jpg' %});"></div>
</div>
<!-- End Motilla -->

<!-- Videos -->
<h3 align="center" style="margin-top: 100px;">Videos</h3>
<figure id="video_player">
    <video controls poster="{% static 'img/projects/la_mancha/video_thumbnails/Calatrava_la_Nueva_Animation.png' %}" loop="">
        <source src="{{ S3_STATIC_URL }}/stonecarving1_zmovie3.mp4" type="video/mp4">
    </video>
    <figcaption>
        <a href="{{ S3_STATIC_URL }}/stonecarving1_zmovie3.mp4"><img src="{% static 'img/projects/la_mancha/video_thumbnails/Calatrava_la_Nueva_Animation.png' %}" alt=""></a>
        <a href="{{ S3_STATIC_URL }}/Iglesia+la+Nueva.mp4"><img src="{% static 'img/projects/la_mancha/video_thumbnails/Iglesia_la_Nueva.png' %}" alt=""></a>
        <a href="{{ S3_STATIC_URL }}/Las_Nieves_Plaza_de_Toros.mp4"><img src="{% static 'img/projects/la_mancha/video_thumbnails/Las_Nieves_Plaza_de_Toros.png' %}" alt=""></a>
    </figcaption>
</figure>

		<!--<a href="{{ S3_STATIC_URL }}/Calatrava+la+Nueva+Animation.mp4"><img src="{% static 'img/projects/la_mancha/video_thumbnails/Calatrava_la_Nueva_Animation.png' %}" alt="Nambia Timelapse 1"></a>-->

<!-- End Videos -->

<!-- Calatrava La Nueva -->
<div class="block-description cvast-video-block">
    <div class="container content padding-top-20">
        <div class="row cvast-profile-box">
            <div class="col-sm-4 cvast-profile-box-image-container">
                <h1>Calatrava La Nueva</h1>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. </p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!--<h3 align="center" style="margin-top: -20px">Calatrava La Nueva overview</h3>
    <video class="cvast-video-full" controls loop="">        preload="auto"-->
    <!--<source src="{{ S3_STATIC_URL }}/Calatrava+la+Nueva+Animation.mp4" type="video/mp4"> Your browser does not support html5 video. Please upgrade your browser.
    </video>-->

    <!--<h3 align="center" class="cvast-video-notfirstrow">Calatrava La Nueva church</h3>
    <video class="cvast-video-full" controls loop="">
        <source src="{{ S3_STATIC_URL }}/Iglesia+la+Nueva.mp4" type="video/mp4"> Your browser does not support html5 video. Please upgrade your browser.
    </video>-->

</div>

<!-- End Calatrava La Nueva -->


<!-- Calatrava La Vieja -->
<div class="block-description cvast-video-block">
    <div class="container content padding-top-20">
        <div class="row cvast-profile-box">
            <div class="col-sm-4 cvast-profile-box-image-container">
                <h1>Calatrava La Vieja</h1>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. </p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Calatrava La Vieja -->


<!-- Las Nieves -->
<div class="block-description cvast-video-block">
    <div class="container content padding-top-20">
        <div class="row cvast-profile-box">
            <div class="col-sm-4 cvast-profile-box-image-container">
                <h1>Santuario Virgen de las Nieves</h1>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. </p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Las Nieves -->


<!-- Windmills -->
<div class="block-description cvast-video-block">
    <div class="container content padding-top-20">
        <div class="row cvast-profile-box">
            <div class="col-sm-4 cvast-profile-box-image-container">
                <h1>Windmills</h1>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. </p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Windmills -->


<script src="{% static 'js/cvast-video.js' %}"></script>
{% endblock content %}

