{% load staticfiles %} {% load i18n %}

<!-- Promo Box -->
<div class="row">

    <div class="col-sm-4">
        <div class="servive-block servive-block-default" style="background: #ffffff;">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-map"></i>
            <a class="" href="{% url 'projects_project_index' project_name='la-mancha' %}">
                <h2 class="txt-color-blue">La Mancha</h2>
            </a>
            <h4 class="cvast-project-promobox"><i class="fa fa-map-marker"></i>Spain</h4>
            <p>CVAST documented a wide variaty of heritage sites in the region of La Mancha, Spain</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="servive-block servive-block-default" style="background: #ffffff;">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-university"></i>
            <a class="" href="{% url 'projects_project_index' project_name='paris-nhm' %}">
                <h2 class="txt-color-blue">Muséum National d'Histoire Naturelle</h2>
            </a>
            <h4 class="cvast-project-promobox"><i class="fa fa-map-marker"></i>Paris, France</h4>
            <p>Zoology and palaeontology at the Natural History Museum in Paris</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="servive-block servive-block-default" style="background: #ffffff;">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-university"></i>
            <a class="" href="{% url 'projects_project_index' project_name='virtual-osteology-of-the-world' %}">
                <h2 class="txt-color-blue">Virtual Osteology of the World</h2>
            </a>
            <h4 class="cvast-project-promobox"><i class="fa fa-map-marker"></i>Global</h4>
            <p>Osteological comparative collections from around the world</p>
        </div>
    </div>

</div>


<div class="row">

    <div class="col-sm-4">
        <div class="servive-block servive-block-default" style="background: #ffffff;">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-university"></i>
            <a class="" href="{% url 'projects_project_index' project_name='3d_archaeopterix_project' %}">
                <h2 class="txt-color-blue">3D Archaeopterix Project</h2>
            </a>
            <h4 class="cvast-project-promobox"><i class="fa fa-map-marker"></i>!!!Insert Location</h4>
            <p>X-ray imaging, photogrammetry, and computer animation are harnessed to reconstruct the best-preserved specimens
                of the icon of evolution: Archaeopteryx
            </p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="servive-block servive-block-default" style="background: #ffffff;">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-university"></i>
            <a class="" href="{% url 'projects_project_index' project_name='ram3d' %}">
                <h2 class="txt-color-blue">RAM<sup>3D</sup></h2>
            </a>
            <h4 class="cvast-project-promobox"><i class="fa fa-map-marker"></i>Mediterranean region</h4>
            <p>Ancient Mediterranean warships and their main offensive weapon, large bronze rams mounted on their bows at the
                waterline
            </p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="servive-block servive-block-default" style="background: #ffffff;">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-university"></i>
            <a class="" href="{% url 'projects_project_index' project_name='calc-rome' %}">
                <h2 class="txt-color-blue">CALCRome</h2>
            </a>
            <h4 class="cvast-project-promobox"><i class="fa fa-map-marker"></i>Rome, Italy</h4>
            <p>The investigation of use traces seen on Black Gloss ceramics from the Sala V collection of Rome’s Capitoline
                Museum
            </p>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-sm-4">
        <div class="servive-block servive-block-default" style="background: #ffffff;">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-university"></i>
            <a class="" href="{% url 'projects_project_index' project_name='gabii-digital' %}">
                <h2 class="txt-color-blue">Gabii Digital</h2>
            </a>
            <h4 class="cvast-project-promobox"><i class="fa fa-map-marker"></i>Gabii, Italy</h4>
            <p>An international archaeological initiative launched in 2007 with the objective of studying and excavating the
                ancient Latin city of Gabii
            </p>
        </div>
    </div>

</div>
<!-- End Promo Box -->