<!-- Promo Box -->
<div class="row">

    <div class="col-sm-4">
        <div class="servive-block servive-block-default" style="background: #ffffff;">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-map"></i>
            <a class="" href="{% url 'projects_la_mancha' %}">
                <h2 class="txt-color-blue">La Mancha</h2>
            </a>
            <h4 class="cvast-project-box"><i class="fa fa-map-marker"></i>Spain</h4>
            <p>CVAST documented a wide variaty of heritage sites in the region of La Mancha, Spain</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="servive-block servive-block-default" style="background: #ffffff;">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-university"></i>
            <a class="" href="{% url 'projects_paris_nhm' %}">
                <h2 class="txt-color-blue">Muséum National d'Histoire Naturelle</h2>
            </a>
            <h4 class="cvast-project-box"><i class="fa fa-map-marker"></i>Paris, France</h4>
            <p>Zoology and palaeontology at the Natural History Museum in Paris</p>
        </div>
    </div>

</div>
<!-- End Promo Box -->