@import url(app_cvast.css);

body { 
   color: #333; 
   font-size: 14px;
   line-height: 1.6;
   font-family: "Open Sans",sans-serif
}

.header .navbar-brand { 
    z-index: 1;
    top: -10px;
    position: relative;
    padding: 0 10px 65px;
}

.arches-logo-header {
    max-height: 80px;
    margin-top: -15px;
}

.arches-logo-copyright {
    height: 30px;
    margin-top: 10px;
}

.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
}

@media (max-width: 750px) {
    .background-image {
        height: 400px; 
    }
}

blockquote p {
    font-weight: bold;
}

blockquote footer {
    text-align: right;
}



/* CVAST general */

.cvast-page-title{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 32px;
}

.cvast-url-low p{
    margin-top: 70px;
}

.cvast-project-title{
    margin-top: 50px;
}
.cvast-project-page {
    margin-bottom: 50px;
}

.cvast-location-title {
    margin-bottom: 13px;
}

.cvast-media-block {
    margin-top: 150px;
}

.cvast-background-image-title {
    margin-top: 30px; 
    margin-bottom: 10px;
}

.cvast-background-image-title-notfirstrow {
    margin-top: 140px; 
}



/* Paragraph boxes */
.cvast-paragraph-box {
    margin-top: 130px;
    padding-right: 15px;
    padding-bottom: 30px;
    /*padding-top: 30px;*/
    margin-bottom: 30px;
}

.cvast-paragraph-box h1 {
    margin: 0px;
    line-height: 25px;
    padding-bottom: 15px;    
}

.cvast-paragraph-box-body {
    margin-right: 40px;
    text-align: justify;
}

.cvast-paragraph-box-after-title { 
    margin-top: 10px;
}

/* To be used when neccessary */
.cvast-paragraph-box-left-container {

}



/* Image boxes*/
.cvast-image-box-with-caption-left {
    padding-top: 30px;
}

.cvast-image-box-with-caption-left h1 {
    margin: 0px;
    padding-bottom: 20px;
    line-height: 25px;
}

.cvast-image-box-with-caption-left h5 {
    margin: 0px;
}

.cvast-image-box-with-caption-left-image {
    margin-top: 10px;
}

.cvast-image-box-with-caption-left-body {
    padding-right: 20px;
    padding-bottom: 5px;
    text-align: justify;
}

.cvast-image-box-with-caption-left-body h1 {
    text-align: left;
}


/* Profile boxes */

.cvast-profile-box {
    padding-left: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.cvast-profile-box h1 {
    margin: 0px;
    line-height: 25px;
}

.cvast-profile-box-left-container img {
    max-width: 500px;
    width: 100%;
    padding-bottom: 15px;
}

/* To be used when neccessary */
.cvast-profile-box-image {
    
}

.cvast-profile-box-image-full {
    max-width:100%;
    max-height:100%;
    padding-right: 20px;
}

.cvast-profile-box-body {
    padding-right: 30px;
    /*margin-right: 40px;*/
    text-align: justify;
}

.cvast-profile-box-body h2 {
    margin-top: 0px;
    text-align: left;
}



/* Video paragraph boxes */
.cvast-paragraph-box-video {
    margin-top: 150px;
    padding: 15px;
    padding-bottom: 30px;
    margin-bottom: 30px;    
}

.cvast-paragraph-box-video h1 {
    margin: 0px;
    line-height: 25px;
}

.cvast-paragraph-box-video-body {
    margin-right: 40px;
    text-align: justify;
}

/* To be used when neccessary */
cvast-paragraph-box-video-left-container {

}



/* Video */
.cvast-video-block {
    margin-top: 200px;
}

.cvast-video-block h3 {
    margin-bottom: 30px;
}

.cvast-video-full {
    /*width: 1920px;*/
    /*height: 1080px; */
    width: 100%;
    max-height: 100vh;
    /*height: auto;*/
    /*width: auto;*/
}

#video-player {
	display: table;
	line-height: 0;
	font-size: 0;
	background: #000;
}
#video-player video,
	#video-player figcaption {
		display: table-cell;
		vertical-align: top;
}
#video-player figcaption {
	width: 25%;
}
#video-player figcaption a {
	display: block;
	opacity: .5;
	transition: 1s opacity;
}
#video-player figcaption a img,
	figure video {
		width: 100%;
        max-height: 90vh;
}
#video-player figcaption a:hover {
	opacity: 1;
}

@media (max-width: 700px) {
	#video-player video,
		#video-player figcaption {
			display: table-row;
		}
    #video-player figcaption a {
        display: inline-block;
        width: 33.33%;
    }
}