{% load staticfiles %} {% load i18n %}
<div class="footer">
    <div class="container">
        <div class="row">
            <!-- About -->
            <div class="col-md-4 md-margin-bottom-40">

                <div class="headline">
                    <h2>About</h2>
                </div>
                <p class="margin-bottom-25 md-margin-bottom-40">
                    The University of South Florida’s Center for Virtualization and Applied Spatial Technologies works to document, preserve,
                    and protect the world’s cultural and natural heritage through the use of digital visualization, geospatial
                    technologies, informatics, and 3D virtualization.
                </p>
            </div>
            <!-- End About -->

            <!-- Contact Us -->
            <div class="col-md-3">

                <div class="headline">
                    <h2>Contact Us</h2>
                </div>
                <address class="md-margin-bottom-40">
                    4202 E. Fowler Ave. <br /> University of South Florida, CMC 107 <br /> 33620 Tampa, Florida <br /> United
                    States <br /> Email: <a href="mailto:cvast@gmail.com" class="">cvast@usf.edu</a>
                </address>
            </div>
            <!-- End Contact Us -->


            <!-- Social Links -->
            <div class="col-md-3">
                <div class="headline">
                    <h2>Stay Connected</h2>
                </div>
                <ul class="social-icons">
                    <li>
                        <a href="https://sketchfab.com/cvast" target="_blank" data-original-title="Sketchfab" class="social_sketchfab"></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/USFCVAST" target="_blank" data-original-title="Facebook" class="social_facebook"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/USFCVAST" target="_blank" data-original-title="Twitter" class="social_twitter"></a>
                    </li>
                </ul>
            </div>
            <!-- End Social Links -->

        </div>
    </div>
</div>