{% load staticfiles %} {% load i18n %}

<div class="cvast-content-block">
    <a name="2017_08_15_publications"></a>
    <div class="container">
        <div class="row cvast-paragraph-box cvast-paragraph-box-after-title">
            <div class="col-sm-4 cvast-paragraph-box-left-container">
                <h1>CVAST in the News</h1>
                <h5><i class="fa fa-calendar"></i>8/15/2017</h5>
            </div>
            <div class="col-sm-8">
                <div class="cvast-paragraph-box-body">
                    <p>
                        Our work is being noticed by a growing number of news outlets. Here are a few recent publications:
                    </p>
                    <ul>
                        <li>
                            <p><a href="https://www.sciencedaily.com/releases/2017/08/170815110940.htm" target="_blank">Science Daily</a></p>
                        </li>
                        <li>
                            <p><a href="https://www.msn.com/g00/en-us/video/watch/3-d-imaging-guides-archaeologists’-successful-excavation-of-ancient-roman-villa/vp-AAq9Ue0" target="_blank">Geobeats</a></p>
                        </li>
                        <li>
                            <p><a href="https://www.eurekalert.org/pub_releases/2017-08/uosf-aun081517.php" target="_blank">EurekAlert!</a></p>
                        </li>
                        <li>
                            <p><a href="http://www.ibtimes.com/archaeologists-uncover-sicilian-villa-ancient-roman-empire-2578815" target="_blank">International Business Times</a></p>
                        </li>
                        <li>
                            <p><a href="http://www.ibtimes.co.uk/sicily-1800-year-old-roman-villa-largest-most-extravagant-ever-excavated-1635258" target="_blank">International Business Times</a></p>
                        </li>
                        <li>
                            <p><a href="http://www.sci-news.com/archaeology/roman-villa-durrueli-05133.html" target="_blank">Sci News</a></p>
                        </li>
                        <li>
                            <p><a href="https://m.europebreakingnews.net/2017/08/sicily-1800-year-old-roman-villa-is-the-largest-and-most-extravagant-ever-excavated/" target="_blank">Europe Breaking News</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>