{% load staticfiles %} {% load i18n %}

<div class="cvast-content-block">
    <div class="container">
        <div class="row cvast-paragraph-box cvast-paragraph-box-after-title">
            <div class="col-sm-4 cvast-paragraph-box-left-container">
                <h1>Nature publication</h1>
                <h5><i class="fa fa-calendar"></i>2/1/2017</h5>
            </div>
            <div class="col-sm-8">
                <div class="cvast-paragraph-box-body">
                    <p>
                        We proudly announce a new publication in Nature by CVAST scientist Dr. Jen Bright:
                        <a href="http://www.nature.com/nature/journal/vaop/ncurrent/full/nature21074.html" target="_blank">"Mega-evolutionary dynamics of the adaptive radiation of birds"</a>.
                    </p>
                    <p>
                        Dr. Bright recently joined USF’s faculty as an assistant professor in the
                        <a href="https://www.facebook.com/USFGeosciences/" target="_blank">USF School of Geosciences</a>                        and is a member of CVAST. Together with a team of researchers she studied the evolution of birds
                        through a remarkable crowdsourced science effort, Mark My Bird. While at
                        <a href="https://www.facebook.com/theuniversityofsheffield/" target="_blank">The University of Sheffield</a>,
                        Bright worked to scan and document thousands of birds at the
                        <a href="http://www.nature.com/" target="_blank">Natural History Museum, London</a> and worked with
                        citizen scientists from around the world to collect wider samples and data.
                    </p>
                    <p>
                        <a href="http://www.research.usf.edu/absolute-news/templates/usfri-template.aspx?articleid=6023" target="_blank">Read more about the study and how you can participate</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>