{% load staticfiles %} {% load i18n %}

<div class="cvast-content-block">
    <a name="2017_02_01_nature_publication"></a>
    <div class="container">
        <div class="row cvast-paragraph-box cvast-paragraph-box-after-title">
            <div class="col-sm-4 cvast-paragraph-box-left-container">
                <h1>3-D Imaging Guides Archaeologists’ Successful Excavation Of Ancient Roman Villa</h1>
                <h5><i class="fa fa-calendar"></i>8/15/2017</h5>
            </div>
            <div class="col-sm-8">
                <div class="cvast-paragraph-box-body">
                    <p>
                        Archaeologists from University of South Florida in Tampa, Florida, recently had a very productive dig in Sicily, and credit
                        3-D imaging for much of their success.
                    </p>
                    <p>Watch the full report <a href="https://www.msn.com/g00/en-us/video/watch/3-d-imaging-guides-archaeologists’-successful-excavation-of-ancient-roman-villa/vp-AAq9Ue0">here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>