{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<div class="block-description cvast-project-title">
    <div class="container content padding-top-20">
        <h1 class="arches-breadcrumb-title cvast-page-title">{% trans "News" %}</h1>
    </div>
</div>

<div class="cvast-content-block">
    {% include 'news/2017_08_15_villa_of_durreueli/body_partial.htm' %}
</div>
{% include 'news/2017_08_15_italian_media/body_partial.htm' %} 
{% include 'news/2017_08_15_geobeats.htm' %} 
{% include 'news/2017_03_02_dmc/body_partial.htm' %} 
{% include 'news/2017_02_06_prose.htm' %} 
{% include 'news/2017_02_01_nature_publication.htm'%} 
{% endblock content %}