{% load staticfiles %} {% load i18n %}

<a name="2017_08_15_villa_of_durrueli"></a>
<div class="container">
    <div class="row cvast-paragraph-box cvast-paragraph-box-after-title">
        <div class="col-sm-4 cvast-paragraph-box-left-container">
            <h1>Archeologists Uncover New Economic History of Ancient Rome</h1>
            <h5><i class="fa fa-map-marker"></i>Agrigento, Italy</h5>
            <h5><i class="fa fa-calendar"></i>8/15/2017</h5>
        </div>
        <div class="col-sm-8">
            <div class="cvast-paragraph-box-body">
                <p>
                    University of South Florida researchers are the first to successfully excavate the Roman villa of Durrueli at Realmonte,
                    located off the southern coast of Sicily.
                </p>
                {% block read_more %} {% endblock read_more %}
            </div>
        </div>
    </div>
</div>


{% block content %} {% endblock content %}