{% extends "news/2017_03_02_dmc/header.htm" %}
{% block content %}

<!-- Images -->
<div align="center" class="cvast-background-image-title cvast-background-image-spacer">
	<h5>Presenting CVAST work on the Virtual Karam Collection</h5>
</div>
<div class="background-image" style="background-image: url({{ S3_STATIC_URL_IMG }}/news/2017_03_02_dmc/dmc_cvast_presentation.jpg); background-position: 60% 40%;"></div>
<div align="center" class="cvast-background-image-title cvast-background-image-spacer">
	<h5>Virtual Karam Collection: the originals and 3d prints</h5>
</div>
<div class="background-image" style="background-image: url({{ S3_STATIC_URL_IMG }}/news/2017_03_02_dmc/dmc_virtual_karam_originals_and_prints.jpg); background-position: 60% 40%;"></div>

{% endblock content %}