{% extends "news/2017_03_02_dmc/header.htm" %}
{% block content %}

<!-- Videos -->
<div class="container">
    <div class="row cvast-paragraph-box-video cvast-media-block">
        <div class="col-sm-4 cvast-paragraph-box-video-left-container">
        </div>
    </div>
</div>
<div class="block-description">
    <div align="center" class="cvast-background-image-title">
        <h5>Watch the full presentation</h5>
        </p>
    </div>
    <div>
        <video align="center" class="cvast-video-full" style="max-height: 80vh;" controls poster="{{ S3_STATIC_URL_IMG }}/news/2017_03_02_dmc/video_thumbnails/2017_03_02_cvast_dsia.png"
            loop="">
            <source src="{{ S3_STATIC_URL_VIDEO }}/news/2017_03_02_dmc/2017_03_02_cvast_dsia_streaming.mp4" type="video/mp4">
        </video>
    </div>
</div>

<!-- Images -->
<div align="center" class="cvast-background-image-title cvast-background-image-spacer">
	<h5>Presenting CVAST work on the Virtual Karam Collection</h5>
</div>
<div class="background-image" style="background-image: url({{ S3_STATIC_URL_IMG }}/news/2017_03_02_dmc/dmc_cvast_presentation.jpg); background-position: 60% 40%;"></div>
<div align="center" class="cvast-background-image-title cvast-background-image-spacer">
	<h5>Virtual Karam Collection: the originals and 3d prints</h5>
</div>
<div class="background-image" style="background-image: url({{ S3_STATIC_URL_IMG }}/news/2017_03_02_dmc/dmc_virtual_karam_originals_and_prints.jpg); background-position: 60% 40%;"></div>

{% endblock content %}