{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<!--=== Content Part ===-->
<div class="block-description">
    <div class="container content padding-top-20">

        <h1 class="arches-breadcrumb-title cvast-page-title">{% trans "Partners" %}</h1>

        <div class="servive-block-default cvast-collage">

            <!-- Row -->
            <div align="center" class="row cvast-collage-row">

                <img class='cvast-collage-image' src="{% static 'img/about_us/partners/hitz_logo.jpg' %}" </img>

                <a href="https://www.prometheanworld.com/" target="_blank"> <img class='cvast-collage-image' src="{% static 'img/about_us/partners/promethean_logo.png' %}"></img>
                </a>

                <a href="http://www.3dsystems.com/" target="_blank"><img class='cvast-collage-image' src="{% static 'img/about_us/partners/3DSystems_Trans.png' %}"></img>
                </a>

            </div>
            <!-- End row -->

            <!-- Row -->
            <div align="center" class="row cvast-collage-row">

                <a href="http://www.faro.com/en-us/home" target="_blank"><img class='cvast-collage-image' src="{% static 'img/about_us/partners/FARO_Trans.png' %}"></img>
                </a>

                <a href="http://www.historymuseum.ca/" target="_blank"><img class='cvast-collage-image' src="{% static 'img/about_us/partners/canadian_museum_of_history.png' %}"></img>
                </a>

                <a href="http://www.fbk.eu/" target="_blank"><img class='cvast-collage-image' src="{% static 'img/about_us/partners/fondazione_bruno_kessler.jpg' %}"></img>
                </a>

            </div>
            <!-- End row -->

            <!-- Row -->
            <div align="center" class="row cvast-collage-row">

                <a href="http://www.mnhn.fr/en" target="_blank"><img class='cvast-collage-image' src="{% static 'img/about_us/partners/museum_national_dhistoire_naturelle.jpg' %}"></img>
                </a>

                <a href="http://www.uclm.es/english/" target="_blank"><img class='cvast-collage-image' src="{% static 'img/about_us/partners/uclm.jpg' %}"></img>
                </a>

                <a href="http://www.unict.it/en/" target="_blank"><img class='cvast-collage-image' src="{% static 'img/about_us/partners/universita_degli_studi_di_catania.png' %}"></img>
                </a>

            </div>
            <!-- End row -->

        </div>
    </div>
</div>

<!-- End Content Part -->
{% endblock content %}