{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<!--=== Content Part ===-->
<div class="block-description">
    <div class="container content padding-top-20">

        <h1 class="arches-breadcrumb-title cvast-page-title">{% trans "Partners" %}</h1>

        <!-- Partner box Hitz -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-4 cvast-profile-box-image-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/partners/hitz_logo.png' %}" </img>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Hitz Foundation</h2>
                </div>
            </div>
        </div>
        <!-- End partner box Hitz-->

        <!-- Partner box Promethean -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-4 cvast-profile-box-image-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/partners/promethean_logo.png' %}" </img>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Promethean</h2>
                    <a class="cvast-url-low" href="https://www.prometheanworld.com/" target="_blank">
                        <p class="txt-color-blue">Partner website</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- End partner box Promethean-->

        <!-- Partner box 3d Systems -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-4 cvast-profile-box-image-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/partners/3DSystems_Trans.png' %}" </img>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">3d Systems</h2>
                    <a class="cvast-url-low" href="http://www.3dsystems.com/" target="_blank">
                        <p class="txt-color-blue">Partner website</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- End partner box 3d Systems-->

        <!-- Partner box FARO -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-4 cvast-profile-box-image-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/partners/FARO_Trans.png' %}" </img>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">FARO</h2>
                    <a class="cvast-url-low" href="http://www.faro.com/en-us/home" target="_blank">
                        <p class="txt-color-blue">Partner website</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- End partner box FARO-->

    </div>
</div>

<!-- End Content Part -->
{% endblock content %}