{% extends "base.htm" %}s {% load staticfiles %} {% load i18n %} {% block content %}

<!--=== Content Part ===-->
<div class="block-description">

    <div class="container content padding-top-20">

        <h1 class="arches-breadcrumb-title cvast-page-title">{% trans "People" %}</h1>

        <div class="row cvast-profile-box servive-block-default">
            <img class="cvast-profile-box-image cvast-profile-box-image-full" src="{% static 'img/about_us/people/flow_chart_CVAST.png' %}"></img>
        </div>

        <!-- Profile box Herb -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/people/hmasch.jpg' %}" </img>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Herbert Maschner (Executive Director)</h2>
                    <p>Herbert Maschner is Executive Director of the Center for Virtualization and Applied Spatial Technologies
                        (CVAST) at the University of South Florida. He also holds tenured Professorships in the USF Department
                        of Anthropology and the School of Geosciences. He serves as the Academic Editor of PeerJ, and on
                        the Editorial Boards of the Journals Digital Applications in Archaeology and Cultural Heritage and
                        Science and Technology of Archaeological Research (STAR); He is an elected Fellow of the American
                        Association for the Advancement of Science and serves as the Society for American Archaeology representative
                        to the AAAS.
                    </p>
                    <p>
                        The recipient of over 13 million in grants, including PI on ≈$5.9 million from the National Science Foundation, he has published
                        2 monographs, 9 edited books, 108 articles, chapters, and reviews, and presented over 200 conference
                        papers with abstracts. Research areas include virtualization, visualization, informatics, 3D scanning,
                        and public science; the creation of digital research infrastructures that transcend humanities, physical,
                        natural, and social sciences; digital heritage, digital humanities, museum and research informatics,
                        and digital natural history at regional and global scales. Other current specialties in human biocomplexity
                        and the environment, resource and community sustainability, long- term human impacts and interactions
                        with marine ecosystems, fisheries, ocean modeling, and human ecosystem engineering. Theoretical specialties
                        in evolutionary psychology, warfare and inequality, global historical ecologies, public education
                        and the democratization of science, and virtual museums and repositories. Methodological interests
                        in 3d imaging, digital heritage, and database construction, elemental and isotopic analyses, geographic
                        information systems, social networks, and complex systems analysis. Primary field research areas
                        are the Arctic, Western North America, and the Mediterranean.
                    </p>
                    <a href="http://hennarot.forest.usf.edu/main/depts/geosci/faculty/data/MaschnerCV.pdf" target="_blank">
                        <p class="txt-color-blue">Curriculum Vitae</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- End profile box Herb-->

        <!-- Profile box Davide -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/people/Tanasi.jpg' %}" </img>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Dr. Davide Tanasi (Assistant Professor, History)</h2>
                    <p>Dr. Davide Tanasi is an archaeologist specialized in Mediterranean prehistory and archaeology of Greek
                        and Roman Sicily and Malta. After an initial academic training in Classical Studies, in 2007 he received
                        his PhD in Classical Archaeology from the University of Torino, Italy. In the past decade he has
                        embraced the study of computer graphics applied to archaeology with special interest in 3D Digital
                        Imaging and digital communication of cultural heritage. In 2006 he co-founded the research program
                        of computer graphics applied to archaeology <i>Archeomatica Project</i> at the University of Catania’s
                        Image Processing Laboratory of the Department of Mathematics and Computer Science and since then
                        he serves as co-Scientific Director. Between 2012 and 2015 he directed the Laboratory of Virtual
                        Archaeology at the Arcadia University Sicily Center of Siracusa (Italy). He is currently Affiliate
                        Assistant Professor at the Department of Classics of University of Washington, Fellow of the College
                        of Global Studies of Arcadia University and founding partner and Member of the Board of Trustees
                        of the Sicily Center for International Education of Siracusa, Sicily (SCIE), an Italian third-party
                        study abroad provider for American universities. Since 2014 he is Section Editor for Archaeological
                        Science for the international scientific journal
                        <i>Open Archaeology</i> (Walter De Gruyter publisher) and he is also founding co-editor of the book
                        series <i>The Heritage of Western Greece</i> (Parnassos Press). He has consistently published in
                        high-impact peer-reviewed journals and worked with international publishers as editor/author for
                        miscellaneous monographs. He also co-produced, as scriptwriter, scientific consultant and assistant
                        director, documentaries in 3D computer animation, among which the multi-awarded movies about Greek
                        Siracusa (Siracusa 3D Reborn) and Roman Pompeii (Pompei 3D. A Buried Story).
                    </p>
                    <p>Full list of publications can be found <a class="txt-color-blue" href="https://usf.academia.edu/DavideTanasi"
                            target="_blank">here</a>.</p>
                </div>
            </div>
        </div>
        <!-- End profile box Davide -->

        <!-- Profile box Jen -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/people/jen_bright.jpg' %}" </img>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Dr. Jen Bright (Assistant Professor, Geosciences)</h2>
                    <p>Jen Bright has a PhD in biomechanics from the University of Bristol, and an MGeol in Geological Sciences
                        from the University of Leeds. Jen specialises in functional morphology, using a combination of geometric
                        morphometrics and finite element modelling to investigate the relationship between the shape of animals’
                        skeletons and their mechanical performance. In particular, Jen is interested in how this relationship
                        interacts with macroevolutionary and developmental processes, and how it changes through time. Most
                        of Jen’s work has focused on the beaks and skulls of extant birds, a key component of which is the
                        crowdsourcing morphometrics website, <a class="txt-color-blue" href="http://www.markmybird.org" target="_blank">markmybird.org</a>.
                        This site is part of a European Research Council project at the University of Sheffield, UK, to investigate
                        how beak shape evolved across the entire avian radiation. It ultimately aims to host a 3D surface
                        scan of the beak of every bird species alive today, and also encourages the public to get involved
                        with primary research by interacting with the scans and contributing vital landmark data to the project.</p>

                    <p>Another central aspect of Jen’s research is determining the validity of biomechanical finite element
                        models. By building skeletal models from regular and contrast enhanced CT scans and comparing these
                        to ex vivo bone strain experiments, Jen has demonstrated both the potential and the limitations of
                        finite element methods of animals known only from their fossil record. This allows greater confidence
                        in our ability to understand the ecological role and behavior of extinct species, and permits detailed
                        questions about the nature of faunal changes through time.
                    </p>
                    <p>A full list of Jen's publications is available <a class="txt-color-blue" href="https://sheffield.academia.edu/JenBright"
                            target="_blank">here</a>.</p>
                </div>
            </div>
        </div>
        <!-- End profile box Jen -->

        <!-- Profile box Rachel -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/people/rachel_opitz.png' %}" </img>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Dr. Rachel Opitz (Assistant Professor, Anthropology)</h2>
                    <p>Dr. Rachel Opitz began her archaeological career in Europe, completing a PhD at Cambridge in 2009 and
                        then working as a post-doctoral researcher in France (Besançon). She subsequently served as a research
                        assistant at the Center for Advanced Spatial Technologies (CAST) and VAP in Anthropology at the University
                        of Arkansas.</p>
                    <p>Dr. Opitz has an active research program focused on rural western Mediterranean societies and landscapes
                        in the 1st millennium BCE. Her research investigates how different rural communities are operating
                        within the increasingly interconnected Mediterranean world. The foundations of this work are in remote
                        sensing and survey, human perception of the built and natural environment as studied through formal
                        exercises in 3D modeling and analysis of visual attention of users of the models, and the material
                        culture of rural communities and the towns emerging within them.
                    </p>
                    <p>Her recognized methodological expertise includes photogrammetric modeling in the context of excavations,
                        work primarily carried out at the Gabii Project – a major research excavation in central Italy, in
                        LIDAR analysis of sites and landscapes, work primarily carried out through the LIEPPEC Project, a
                        multi-method survey in the Forêt de Chailluz in the Franche-Comté, and in developing information
                        metrics to ask new archaeological questions using 3D data. She is currently pursuing the application
                        of perceptual saliency metrics for investigating the way humans visually perceive the basic elements
                        of their surroundings, with important implications for the organization of space in built environments
                        and the placement of structures and markers in landscapes.
                    </p>
                    <p>She currently serves as the chair of the Aerial Archaeology Research Group (2015-2018), a member of the
                        ArchaeoLandscapes International Project General Management Board, and as the Director of SPARC.</p>
                    <p>Dr. Opitz is happy to supervise Masters and PhD candidates with interests in archaeological remote sensing,
                        archaeological applications of 3D data, and landscape archaeology, particularly in a Mediterranean
                        context. Interested students should send an email to ropitz@usf.edu.</p>

                    <p>Opitz, R. and Johnson, T. (2016) Interpretation at the Controller's Edge: Designing Graphical User Interfaces
                        for the digital publication of the excavations at Gabii (Italy). Open Archaeology. DOI: 10.1515/opar-2016-0001</p>
                    <p>Opitz, R., Ryzewski, K., Cherry, J. and Moloney, B. (2015) Using Airborne LiDAR Survey to Explore Historic-era
                        Archaeological Landscapes of Montserrat in the Eastern Caribbean. Journal of Field Archaeology. 40:
                        online first. DOI: 10.1179/2042458215Y.0000000016</p>
                    <p>Opitz, R. and Limp, W.F. (2015) Recent Developments in High-Density Survey and Measurement (HDSM) for
                        Archaeology: Implications for Practice and Theory. Annual Review of Anthropology. 44. DOI: 10.1146/annurev-anthro-102214-013845.
                    </p>
                    <p>Opitz, R. And Cowley, D. (eds.) (2013) Interpreting archaeological topography – airborne laser scanning,
                        aerial photographs and ground observation. Oxbow. </p>
                </div>
            </div>
        </div>
        <!-- End profile box Rachel -->

        <!-- Profile box Ryan -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/people/ryan_carney.png' %}" </img>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Dr. Ryan Carney (Assistant Professor, Integrative Biology)</h2>
                    <p>Dr. Ryan Carney has two bachelor’s degrees from UC Berkeley, one in Integrative Biology and one in Art.
                        He has a both an MPH and MBA from Yale in health and technology. He has an MS and PhD from Brown
                        University in Ecology and Evolutionary Biology. As a National Geographic Explorer, and with papers
                        published as a graduate student in Nature, Nature Communications, Paleontology, Scientific Reports
                        (Nature), and multiple papers in Emerging Infectious Diseases, he is already established. He has
                        over 600 citations as a graduate student.</p>
                    <p>At Yale, Ryan created the most successful and most cited geospatial predictive model for anticipating
                        the spread of dengue favor, a mosquito born virus. This research effort will be key to modeling and
                        managing the spread of the Zika virus in Florida and Dr. Carney’s skills are already in demand for
                        this work.
                    </p>
                    <p>At Brown University, Ryan primarily studied the evolution of flight and locomotion. He studies the structural
                        and functional changes that occurred during major locomotor transitions, as well as the evolution
                        and function of coloration over deep time. His interdisciplinary research program combined leading-edge
                        digital and molecular technologies, exceptional fossil specimens, and novel comparative approaches
                        among living and extinct animals. His work aims to reveal overarching evolutionary processes that
                        have driven adaptive radiations, and answer fundamental questions in organismal biology. He also
                        brings a diverse background and over a decade of leadership experience serving as Principal Investigator
                        for various large-scale research projects. As a paleontologist and evolutionary anatomist, his research
                        interests include:
                    </p>
                    <ul>
                        <li>Discovering new anatomical insights into the evolution of avian flight, with an emphasis on Archaeopteryx</li>
                        <li>Advancing understanding of joint functional morphology and locomotor biomechanics, using in vivo
                            methods </li>
                        <li>Developing a new analytical framework for evolutionary comparisons of anatomy and motion</li>
                        <li>Reconstructing ancient motion, through a synthesis of the above three approaches and animation software
                        </li>
                        <li>Reconstructing original coloration in the fossil record, to reveal evolutionary insights</li>
                        <li>Developing new advanced materials through biomimicry</li>
                        <li>Integrating research into educational tools, open-source software, and outreach</li>
                        <li>Exploring the research/educational potential of next-generation platforms (virtual reality, interactive
                            holograms).
                        </li>
                    </ul>

                    <p>Lindgren J, Sjövall P, Carney RM, Uvdal P, Gren JA, Dyke G, Schultz BP, Shawkey MD, Barnes KR, Polcyn
                        MJ. 2014. Skin pigmentation provides evidence of convergent melanism in extinct marine reptiles.
                        Nature 506(7489):484–8. doi:10.1038/nature12899.</p>
                    <p>Carney RM, Vinther J, Shawkey MD, D’Alba L, Ackermann J. 2012. New evidence on the colour and nature
                        of the isolated Archaeopteryx feather. Nature Communications 3:637 doi: 10.1038/ncomms1642.
                    </p>
                    <p>Carney RM, Ahearn SC, McConchie A, Glaser C, Jean C, Barker C, Park B, Padgett K, Parker E, Aquino E,
                        Kramer V. 2011. Early warning system for West Nile virus risk areas, California, USA. Emerging Infectious
                        Diseases 17(8): 1445-54.</p>
                </div>
            </div>
        </div>
        <!-- End profile box Ryan -->

        <!-- Profile box Matt -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/people/mvincent_bio_square.jpg' %}" </img>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Matthew Vincent (Research Associate)</h2>
                    <p>Matthew Vincent is a Research Associate in CVAST and manager of our European operations. He is based
                        at the Bruno Kessler Foundation in Trento, Italy. He has been digging in the dirt since 2004 when
                        he got his first taste of archaeology in Jordan. It wasn’t long after that Matthew began mixing another
                        passion into archaeology: technology. Beginning with a focus on GIS in archaeology, he then began
                        to work on field recording, photogrammetry, laser scanning, and immersive visualization systems.
                        In 2014 Matthew joined the Initial Training Network for Digital Cultural Heritage, a Marie Sklowdowska-Curie
                        Actions program focused on holistic approaches to cultural heritage using advanced technology. In
                        2015, Matthew founded Rekrei (formerly Project Mosul) with fellow researcher Chance Coughenour. As
                        part of CVAST, Matthew will focus on the European projects, helping to coordinate those while also
                        working on continued research in crowdsourcing lost heritage through Rekrei, cultural heritage data
                        platforms related to CVAST work in Europe, streamlining data acquisition and processing, and innovative
                        forms of 3D data dissemination. His specializations include: photogrammetry, databases, archaeology,
                        3D acquisition, drones, web-based applications, mobile applications, crowdsourcing, and public archaeology.
                        He has a BA Theology & Biblical Languages from Walla Walla University, 2004; MA Anthropological Archaeology
                        from University of California, San Diego, 2013 (NSF IGERT Fellow); PhD Candidate at the University
                        of Murcia in the program of History, Geography and Art History: Society, Territory, and Culture -
                        Fall 2016. He is currently leading a number of projects in Jordan.
                    </p>
                </div>
            </div>
        </div>
        <!-- End profile box Matt -->

        <!-- Profile box Jeff -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/people/jeff_duvernay_II.jpg' %}" </img>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Dr. Jeffrey P. Du Vernay (Research Assistant Professor)</h2>
                    <p>Dr. Jeff Du Vernay is a Research Assistant Professor in CVAST who specializes in close and middle range
                        3D scanning, 3D modeling and visualization software applications, 3D printing, and GIS. His primary
                        research interest is the archaeology of the Southeastern United States (particularly Florida), but
                        has contributed to research projects at CVAST and elsewhere at diverse locations including the U.S
                        Midwest and Mid-Atlantic regions, U.S. Virgin Islands, Hawaii, Armenia, France, Mexico, and Guatemala.
                        Jeff has developed and taught a number of classes in archaeology and anthropology, and has assisted
                        in the development and teaching of multiple terrestrial laser scanning workshops. Jeff presently
                        serves as the co-Editor of the peer-reviewed journal, <i>The Florida Anthropologist</i>.
                    </p>
                    <a href="http://hennarot.forest.usf.edu/main/depts/geosci/faculty/jduvernay/" target="_blank">
                        <p class="txt-color-blue">School of Geosciences Faculty Page</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- End profile box Jeff -->

        <!-- Profile box Bart -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/people/bart_mcleod.jpg' %}" </img>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Bart McLeod (MA, Research Scientist)</h2>
                    <p>Bart McLeod has an MA in Anthropology and Cultural Resource Management and serves as the Field Director
                        for CVAST scanning projects. He has worked on a number of national and international field projects
                        involving terrestrial laser scanning with CVAST, and has expertise in GIS and GPS data acquisition
                        and processing. McLeod has led TLS field technical support for projects at CVAST and is interested
                        in 3D survey strategies and geomatics.
                    </p>
                    <p>Email: jbmcleod@usf.edu</p>
                </div>
            </div>
        </div>
        <!-- End profile box Bart -->

        <!-- Profile box Laura -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/people/laura_harrison.jpg' %}" </img>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Dr. Laura Harrison (Postdoctoral Research Associate)</h2>
                    <p>Dr. Laura Harrison has a Ph.D. in Anthropology from the University at Buffalo, as well as an M.A. in
                        Anthropology from the University at Buffalo, and a B.A. in Anthropology and Art History from Ithaca
                        College.
                    </p>
                    <p>
                        Laura brings an interdisciplinary perspective to CVAST, and she is an advocate of open access and digitization in the sciences
                        and humanities. Currently, she is the director of a 3D visualization project at the archaeological
                        site of Seyitömer Höyük, in Turkey, where her research focuses on virtualization as a heritage management
                        strategy. Laura also has over eight years of museum experience, and is interested in digitization
                        as it pertains to collection management, public outreach and education, and exhibition design. In
                        addition, Laura founded the interdisciplinary journal <i>Chronika</i> in
                        2010, which publishes peer-reviewed articles about European and Mediterranean archaeology, in an
                        open access format.
                    </p>
                    <p>
                        Laura has excavated in Greece, Turkey, and the northeast U.S.A. Her NSF-funded Ph.D. research investigates urbanism as a
                        social process at Seyitömer Höyük, in Turkey. Methodologically, she focuses on digitally simulating
                        patterns of movement and interaction in urban built environments, and integrating these observations
                        with insights about behavior, cognition, and perception drawn from environmental psychology. Laura’s
                        forthcoming research places these findings into a temporal framework based on the Bayesian analysis
                        of radiocarbon dates, which reveals the timing and tempo of socio-political changes associated with
                        urbanization.
                    </p>
                    <p>A full list of Laura’s publications can be found <a href="https://usf.academia.edu/LauraHarrison" target="_blank">here</a>.</p>
                </div>
            </div>
        </div>
        <!-- End profile box Laura -->

        <!-- Profile box Steve -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/people/steven1.jpg' %}" </img>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Steven Fernandez (MA, Research Assistant Professor)</h2>
                    <p>Steven Fernandez is a Research Assistant Professor in CVAST. He has his Masters of Arts in Geography
                        with a specialization in Geographic Information Systems. He is a Certified GIS Professional, a Certified
                        Cadastral Mapper, and brings a high level of expertise in GIS and spatial analysis. His areas of
                        research and project management include applications with airborne and terrestrial LiDAR, digital
                        terrain modeling, feature extraction, 3D feature modeling, urban planning, site selection analysis,
                        property assessment and land use mapping, historical map georeferencing, GPS data acquisition and
                        processing, and digital cartographic techniques.
                    </p>
                    <p>Email: slfernandez@usf.edu</p>
                </div>
            </div>
        </div>
        <!-- End profile box Steve -->

        <!-- Profile box Kamila -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/people/kamila_oles.png' %}" </img>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Kamila Oleś (MA, Research Associate)</h2>
                    <p>Kamila Oleś holds a diploma in Archaeology (MA, 2011), and in History of Art (MA, 2013) both from the
                        Adam Mickiewicz University in Poznań, Poland. Currently she is completing a bi-nationally supervised
                        PhD thesis according to a joint agreement between Charles University in Prague, Czech Republic, and
                        Adam Mickiewicz University in Poznań. Her main research areas include early medieval architecture
                        in Central Europe as well as the methodology and techniques of architectural research and documentation.
                        Additionally, she is interested in the fusion of art and archaeology. Kamila has been awarded international
                        grants and has led several research projects in Poland, Czech Republic, Slovakia, Hungary and Germany.
                        She has awards for he achievements from the Kulczyk Family Fund and Visegrad Fund.
                    </p>
                </div>
            </div>
        </div>
        <!-- End profile box Kamila -->

        <!-- Profile box Łukasz  -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/people/lukasz_banaszek.jpg' %}" </img>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Dr. Łukasz Banaszek (postdoctoral researcher)</h2>
                    <p>Dr. Łukasz Banaszek holds a MA in Archaeology (2008) and a PhD in Archaeology (2015) both from Adam Mickiewicz
                        University in Poznań, Poland. He studies landscapes, their dynamics and temporality. His research
                        interests include modelling of the landscape and being-in-the-world. Łukasz specializes in application
                        of GIS and Airborne Laser Scanning in landscape interpretation. He is also interested in aerial photography,
                        spaceborne remote sensing techniques, and integration of various prospection methods. Additionally,
                        he investigates the relation between archaeological methods and theories, processes of knowledge
                        construction, and history of archaeological thought. He is the author of 1 monograph, 1 co-edited
                        volume as well as several papers and chapters. He has enjoyed fieldwork in Austria, Croatia, Czech
                        Republic, Greece, Ireland, Poland and Republic of the Sudan. He has led or been involved in numerous
                        research projects funded by the European Space Agency, Polish National Science Centre, and the Polish
                        Ministry of Science and Higher Education. He is a big fan of open source software, data sharing,
                        and democratization of science.
                    </p>
                </div>
            </div>
        </div>
        <!-- End profile box Łukasz  -->

        <!-- Profile box Myriam -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/people/myriam_van_walsum.jpg' %}" </img>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Myriam van Walsum (MA, Research Scientist)</h2>
                    <p>Myriam van Walsum earned her BA degree in Archaeology at Leiden University (The Netherlands) and a MSc
                        degree in Palaeoanthropology at University College London (UK). Her work at CVAST consists of close
                        range laser scanning of cultural heritage and natural history objects and sites, and subsequent post-processing,
                        segmentation, texturing and rendering. Her specialties include human evolution, osteology and microCT
                        scan processing.
                    </p>
                    <p>Email: myriam1@usf.edu</p>
                </div>
            </div>
        </div>
        <!-- End profile box Myriam -->

        <!-- Profile box Vincent -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/people/vincent_meijer.jpg' %}" </img>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Vincent Meijer (MA, Software Developer)</h2>
                    <p>Vincent Meijer is a software developer with a background in archaeology. For his MA Comparative Art &
                        Archaeology at University College London he researched the distribution of Polynesian rock art through
                        space and time. His main focus at CVAST is creating an IT infrastructure for documenting and publishing
                        data collected by CVAST. He is particularly interested in containerized, scalable software architecture,
                        as well as in backend programming.
                    </p>
                    <p>Email: vmeijer@usf.edu</p>
                </div>
            </div>
        </div>
        <!-- End profile box Vincent -->

    </div>
</div>
<!-- End Content Part -->
{% endblock content %}