{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<div class="block-description">
    <div class="container content padding-top-20">
        <h1 class="arches-breadcrumb-title cvast-page-title">{% trans "Technology" %}</h1>
    </div>
</div>

<div class="background-image" style="background-image: url({% static 'img/about_us/technology/equipment_in_the_sky.jpg' %}); margin-top: -50px;"></div>

<div class="block-description" style="margin-top: 50px;">
    <div class="container content padding-top-20">

        <!-- Technology box Faro Focus3D -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-6 cvast-profile-box-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/technology/faro330.jpg' %}" </img>
            </div>
            <div class="col-sm-6">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">FARO Focus3D x330 and x330 HDR</h2>
                    <p>The FARO Focus3D is a high-speed, phase-shift 3D laser scanner that captures detailed 3D point cloud
                        datasets of objects and environments. The Focus3D is capable of collecting point data at a range
                        of up to 330 meters and up to 976, 000 points per second.
                    </p>
                    <a href="http://www.faro.com/en-us/products/3d-surveying/faro-focus3d/overview" target="_blank">
                        <p class="txt-color-blue">Manufacturer website</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- End technology box Faro Focus3D-->

        <!-- Technology box FARO Edge Arm -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-6 cvast-profile-box-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/technology/faro_arm.jpg' %}" </img>
            </div>
            <div class="col-sm-6">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">FARO Edge Arm</h2>
                    <p>The FARO Edge Arm is a laser line triangulation 3D scanner that permits for the rapid collection of point
                        cloud data with high resolution and accuracy. The handheld laser line probe is affixed to an articulating
                        arm and tripod system allowing for the easy maneuvering around objects during data collection. The
                        FARO Arm has an accuracy of up to 0.024mm.
                    </p>
                    <a href="http://www.faro.com/products/metrology/faroarm-measuring-arm/overview" target="_blank">
                        <p class="txt-color-blue">Manufacturer website</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- End technology box FARO Edge Arm -->

        <!-- Technology box FARO Freestyle -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-6 cvast-profile-box-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/technology/faro_freestyle.jpg' %}" </img>
            </div>
            <div class="col-sm-6">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">FARO Freestyle</h2>
                    <p>The FARO Freestyle3D is a handheld 3D scanner that uses structured light and infrared camera technology
                        to document objects and environments in 3D and color. The Freestyle is designed to collect data at
                        close-range, and these data can be easily combined in the native software with 3D point cloud data
                        collected with the FARO Focus3D.
                    </p>
                    <a href="http://www.faro.com/en-us/products/3d-documentation/faro-freestyle-sup-3d-sup-scanner/overview" target="_blank">
                        <p class="txt-color-blue">Manufacturer website</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- End technology box FARO Freestyle -->

        <!-- Technology box DJI Phantom 4 -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-6 cvast-profile-box-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/technology/dji_phantom_4.jpg' %}" </img>
            </div>
            <div class="col-sm-6">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">DJI Phantom 4</h2>
                    <p>The DJI Phantom 4 is a quadcopter style drone utilized for aerial photography, HD video recording, and
                        the photogrammetric image capturing of landscape features.
                    </p>
                    <a href="https://www.dji.com/product/phantom-4" target="_blank">
                        <p class="txt-color-blue">Manufacturer website</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- End technology box DJI Phantom 4 -->

        <!-- Technology box 1.6m3 Skyshot Helikite -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-6 cvast-profile-box-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/technology/helikite.jpg' %}" </img>
            </div>
            <div class="col-sm-6">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">6m<sup>3</sup> Skyhook Helikite</h2>
                    <p>The Skyhook Helikite is the workhorse of the Helikite aerostat range. Designed to lift considerable payloads
                        to higher altitudes than is possible with any other similar sized aerostats. CVAST uses the Helikite
                        for aerial photography in order to create complete 3D models of large archaeological sites through
                        the use of photogrammetry. This method is particulalry useful in urban areas, where drone flying
                        is usually restricted. Another advantage is the Helikite's ability to lift multiple sensors, as
                        opposed to the average drone.
                    </p>
                    <a href="http://www.allsopp.co.uk/index.php?mod=page&id_pag=10" target="_blank">
                        <p class="txt-color-blue">Manufacturer website</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- End technology box 1.6m3 Skyshot Helikite -->

        <!-- Technology box Artec Eva -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-6 cvast-profile-box-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/technology/artec_eva_small.jpg' %}" </img>
            </div>
            <div class="col-sm-6">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Artec Eva</h2>
                    <p>The Artec Eva is a handheld, structured light 3D scanner that captures both the 3D geometry of objects
                        in high resolution and object color/texture information. The Eva is designed to collect data at close
                        range and with a point accuracy of 0.1mm.
                    </p>
                    <a href="https://www.artec3d.com/" target="_blank">
                        <p class="txt-color-blue">Manufacturer website</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- End technology box Artec Eva -->

        <!-- Technology box Konica Minolta Vivid 9i -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-6 cvast-profile-box-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/technology/konica_minolta_vivid_9i.jpg' %}" </img>
            </div>
            <div class="col-sm-6">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Konica Minolta Vivid 9i</h2>
                    <p>The Konica Minolta Vivid 9i is a tripod-based, laser triangulation 3D scanner that captures both the
                        3D geometry of objects in high resolution and object color/texture information. The Vivid 9i is designed
                        to collect data a close range and has an accuracy of up to 0.05mm.
                    </p>
                    <a href="http://sensing.konicaminolta.us/search-by-services/discontinued-services/3d-support/" target="_blank">
                        <p class="txt-color-blue">Manufacturer website</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- End technology box Konica Minolta Vivid 9i -->

        <!-- Technology box Trimble GEO 7x Global Positioning System (GPS) -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-6 cvast-profile-box-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/technology/trimble_geo7x_gps.jpg' %}" </img>
            </div>
            <div class="col-sm-6">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Trimble GEO 7x Global Navigation Satellite System (GNSS)</h2>
                    <p>The Trimble GEO 7x unit is a handheld GNSS device that can be used in conjunction with an external antenna
                        for the collection of decimeter grade data. The device is capable of receiving Navstar GPS, Glonass,
                        Galileo, Beidou, and QZSS signals, has an integrated 5 megapixel camera and a laser range finder,
                        and uses Terrasync software.
                    </p>
                    <a href="http://www.trimble.com/mappingGIS/geo-7-series.aspx" target="_blank">
                        <p class="txt-color-blue">Manufacturer website</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- End technology box Trimble GEO 7x Global Positioning System (GPS) -->

        <!-- Technology box Canon EOS5DS -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-6 cvast-profile-box-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/technology/canon_EOS5DS_small.jpg' %}" </img>
            </div>
            <div class="col-sm-6">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">Canon EOS 5DS</h2>
                    <p>The Canon EOS 5DS DSLR camera captures high resolution images for site photographic documentation purposes
                        and the photo-texturing of 3D models captured with 3D scanning.
                    </p>
                </div>
            </div>
        </div>
        <!-- End technology box Canon EOS5DS -->

        <!-- Technology box HTC Vive -->
        <div class="row cvast-profile-box servive-block-default">
            <div class="col-sm-6 cvast-profile-box-container">
                <img class='cvast-profile-box-image' src="{% static 'img/about_us/technology/htc_vive.jpg' %}" </img>
            </div>
            <div class="col-sm-6">
                <div class="cvast-profile-box-body">
                    <h2 class="txt-color-blue">HTC Vive</h2>
                    <p>Vive is a first-of-its kind virtual reality system developed in partnership by HTC and Valve. Designed
                        from the ground up for room-scale VR, Vive allows true-to-life interactions and immersive experiences
                        thanks to stunning graphics, HD haptic feedback and 360˚ motion tracking.
                    </p>
                    <a href="http://www.htcvive.com" target="_blank">
                        <p class="txt-color-blue">Manufacturer website</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- End technology box HTC Vive -->

    </div>
</div>

<!-- End Content Part -->
{% endblock content %}