{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<div class="block-description cvast-photo-block">
    <div class="container content padding-top-20">
        <div class="row cvast-profile-box">
            <div class="col-sm-4 cvast-profile-box-image-container">
                <h1>Calatrava La Vieja</h1>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. </p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div align="center" class="background-image-title">
    <h5>View from our drone</h5>
</div>
<div class="background-image" style="background-image: url({% static 'img/projects/la_mancha/calatrava_la_vieja_aerial.jpg' %}); height: 850px; background-position: 40% 70%;"></div>


<!-- Videos -->
<div class="block-description cvast-photo-block">
    <div class="container content padding-top-20">
        <div class="row cvast-profile-box">
            <div class="col-sm-4 cvast-profile-box-image-container">
                <h1>Videos</h1>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. </p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <figure id="video_player">
        <video controls poster="{% static 'img/projects/la_mancha/calatrava_la_vieja/video_thumbnails/CLV_Combo.png' %}"
            loop="">
            <source src="{{ S3_STATIC_URL }}/streaming/CLV_Combo-streaming.mp4" type="video/mp4">
        </video>
        <figcaption>
            <a href="{{ S3_STATIC_URL }}/streaming/CLV_Combo-streaming.mp4"><img src="{% static 'img/projects/la_mancha/calatrava_la_vieja/video_thumbnails/CLV_Combo.png' %}"
                    alt=""></a>
        </figcaption>
    </figure>
</div>


<!--<a href="{{ S3_STATIC_URL }}/streaming/Calatrava_la_Nueva_Animation-streaming.mp4"><img src="{% static 'img/projects/la_mancha/video_thumbnails/Calatrava_la_Nueva_Animation.png' %}" alt="Nambia Timelapse 1"></a>-->

<!-- End Videos -->


<div align="center" class="background-image-title background-image-title-notfirstrow">
    <h5>Scanning an ancient watermill</h5>
</div>
<div class="background-image" style="background-image: url({% static 'img/projects/la_mancha/calatrava_la_vieja_waterworks.jpg' %}); background-position: 25% 50%;"></div>


{% include 'projects/la-mancha/project-footer-la-mancha.htm' %} {% endblock content %}