/* Overwrite existing css */

body {
   color: #333;
   font-size: 14px;
   line-height: 1.6;
   font-family: "Open Sans",sans-serif;
}

p {
    hyphens: auto;
}

p a {
    text-decoration: underline;
}

.header .navbar-brand {
    z-index: 1;
    top: -10px;
    position: relative;
    padding: 0 10px 65px;
    height: 80px;
}

.arches-logo-header {
    max-height: 80px;
}

.arches-logo-copyright {
    height: 30px;
    margin-top: 10px;
}

.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
}

@media (max-width: 900px) {
    .background-image {
        height: 400px;
        max-height: 70vh;
    }

    .background-image-responsive {
        max-height: 50vh;
    }

    .arches-logo-header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

blockquote p {
    font-weight: bold;
}

blockquote footer {
    text-align: right;
}

.purchase {
    border-top: solid 1px #eee;
}

/*Header v1
------------------------------------*/
/*Navber*/
.header .navbar-default .navbar-nav > .active > a {
    color: #466069;
}

/*Navbar Toggle*/
.navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: #466069;
}

.navbar-default .navbar-toggle {
    border-color: #7E96A0;
}

.navbar-default .navbar-toggle:hover {
    background: #7E96A0;
}

/*Responsive Navbar*/
@media (max-width: 767px) {
    .header .navbar-default .navbar-nav > li > a:hover {
        color: #466069;
    }

    .header .navbar-default .navbar-nav > .active > a,
    .header .navbar-default .navbar-nav > .active > a:hover,
    .header .navbar-default .navbar-nav > .active > a:focus {
        color: #fff;
        background: #466069;
    }
}

@media (min-width: 767px) {
    /*Navbar*/
    .header .navbar-default .navbar-nav > li > a:hover,
    .header .navbar-default .navbar-nav > .active > a {
        border-bottom: solid 2px #466069;
    }

    .header .navbar-default .navbar-nav > .open > a,
    .header .navbar-default .navbar-nav > .open > a:hover,
    .header .navbar-default .navbar-nav > .open > a:focus {
        color: #466069;
    }

    /*Dropdown Menu*/
    .header .dropdown-menu {
        border-top: solid 2px #466069;
    }
}

/*Search Box*/
.header .navbar .nav > li > .search:hover {
    color: #466069;
    border-bottom-color: #466069;
}

@media (max-width: 767px) {
    .header .navbar .nav > li > .search:hover {
        background: #7E96A0;
    }
}

/*Buttons
------------------------------------*/

.btn-u {
   background: #466069;
}

.btn-u:hover,
.btn-u:focus,
.btn-u:active,
.btn-u.active,
.open .dropdown-toggle.btn-u.btn-u-dark-blue {
    background:  #7E96A0;
}


/* Container */
.container {
    max-width: 70vw;
}

@media (max-width: 836px) { 
    .container {
        max-width: 95vw;
    }
}
/* CVAST general */

.cvast-page-title {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 32px;
}

.cvast-url-low p{
    margin-top: 70px;
}

.cvast-project-title {
    margin-top: 50px;
}

.cvast-project-page {
    margin-bottom: 50px;
}

.cvast-location-title {
    margin-bottom: 13px;
}

.cvast-text-align-left h5 {
    text-align: left !important;
}


.cvast-spacer-top { margin-top: 140px; }
.cvast-spacer-top-half { margin-top: 70px; }
.cvast-spacer-bottom { margin-bottom: 140px; }
.cvast-spacer-bottom-half { margin-bottom: 70px; }

@media (max-width: 768px) { 
    .cvast-spacer-top { margin-top: 90px; }
    .cvast-spacer-top-half { margin-top: 45px; }
    .cvast-spacer-bottom { margin-bottom: 90px; }
    .cvast-spacer-bottom-half { margin-bottom: 45px; }
}


/* CVAST content block */
.cvast-content-block {
    padding-top: 90px;
    padding-bottom: 90px;
    border-bottom-style: solid !important;
    border-bottom: 1px; 
    border-bottom-color: #eee;
}

.cvast-project-title + .cvast-content-block {
    padding-top: 10px;
}

.cvast-content-block-homepage .content {
    padding-top: 0px;
    padding-bottom: 0px;
}

.cvast-content-block-custom-padding {
    padding-bottom: 40px;
}

@media (max-width: 768px) {
    .cvast-content-block {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .cvast-content-block img {
        display: block; 
        margin: 0 auto;
    }
}


/* CVAST media block */
.cvast-media-block {
    margin-top: 150px;
}


@media (max-width: 1700px) {
    .cvast-media-block {
        margin-top: 90px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 400px) {
    .cvast-media-block {
        margin-top: 70px;
    }
}

.cvast-background-image-title {
    margin: 10px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .cvast-background-image-title {
        margin: 30px;
        margin-bottom: 10px;
    }
}

.cvast-background-image-spacer {
    margin-top: 140px;
}

@media (max-width: 768px) {
    .cvast-background-image-spacer {
        margin-top: 90px;
    }
}

.cvast-promobox {
    min-height: 315px;
}

.cvast-promobox p {
    hyphens: none;
}

.cvast-promobox-small {
    min-height: 270px;
}

    .cvast-promobox-small p {
        hyphens: none;
    }

@media (max-width: 768px) {
    .cvast-narrow-banner {
        margin-top: 50px !important;
    }

    .cvast-narrow-banner img {
        width: 90vw !important;
    }
}

.cvast-collage {
    background-color: white;
}

.cvast-collage img {
    margin: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 300px;
}

@media (max-width: 630px) {
    .cvast-collage img {
        margin: 15px;
        margin-top: 50px;
        margin-bottom: 50px;
        max-width: 50vw;
    }
}

@media (max-width: 380px) {
    .cvast-collage img {
        margin: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        max-width: 80vw;
    }
}

.cvast-image-footer {
    padding-top: 5px;
}

/* Paragraph boxes */
.cvast-paragraph-box h1 {
    margin: 0px;
    line-height: 25px;
    padding-bottom: 15px;
}

.cvast-paragraph-box-body {
    margin-right: 40px;
    text-align: justify;
}

@media (max-width: 767px) {
    .cvast-paragraph-box {
        text-align: center;
        padding-bottom: 10px;
    }

    .cvast-paragraph-box h1 {
        margin-bottom: 10px;
    }

    .cvast-paragraph-box-body {
        margin: 20px;
    }
}

@media (max-width: 400px) {
    .cvast-paragraph-box-body {
        margin: 10px;
    }
}

.cvast-paragraph-box-after-title {
    margin-top: 10px;
}

/* To be used when neccessary */
.cvast-paragraph-box-left-container {
    padding-bottom: 15px;
}

.cvast-paragraph-box-left-logo {
    max-width: 95px; 
    padding-top: 15px; 
    padding-bottom: 15px;
}

@media (max-width: 768px) {
    .cvast-paragraph-box-left-logo {
        padding-top: 0px; 
    }
}

/* Image boxes*/
.cvast-image-box-with-caption-left {
    padding-top: 80px;
}

.cvast-image-box-with-caption-left h1 {
    margin: 0px;
    padding-bottom: 20px;
    line-height: 25px;
}

.cvast-image-box-with-caption-left h5 {
    margin: 0px;
}

.cvast-image-box-with-caption-left-image {
    max-width:100%;
    max-height: 85vh;
    border-radius: 3px;
}

@media (max-width: 768px) {
.cvast-image-box-with-caption-left-image {
        display: block;
        margin: auto auto;
        max-height: 70vh;
    }
}

.cvast-image-box-with-caption-left-body {
    padding-right: 20px;
    padding-bottom: 5px;
    text-align: justify;
}

.cvast-image-box-with-caption-left-body h1 {
    text-align: left;
}

@media (max-width: 768px) {
    .cvast-image-box-with-caption-left h1,
    .cvast-image-box-with-caption-left p,
    .cvast-image-box-with-caption-left h5,
    .cvast-image-box-with-caption-left-body {
        text-align: center !important;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width: 500px) {
    .cvast-image-box-with-caption-left h1,
    .cvast-image-box-with-caption-left p,
    .cvast-image-box-with-caption-left h5,
    .cvast-image-box-with-caption-left-body {
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
}



/* Profile boxes */
.cvast-profile-box {
    padding-left: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.cvast-profile-box h1 {
    margin: 0px;
    line-height: 25px;
}

@media (max-width: 768px) {
    .cvast-profile-box-left-container {
        padding-right: 30px;
    }
}

.cvast-profile-box-left-container img {
    max-width: 500px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 3px;
}

.cvast-profile-box-image {
    max-width: 300px !important;
}

.cvast-profile-box-image-full {
    max-width:100%;
    max-height:100%;
    padding-right: 20px;
}

.cvast-profile-box-body {
    padding-right: 30px;
    text-align: justify;
}

.cvast-profile-box-body h2 {
    margin-top: 0px;
    text-align: left;
}

@media (max-width: 767px) {
    .cvast-profile-box {
        margin: 20px;
    }

    .cvast-profile-box-body {
        padding-top: 15px;
    }

    .cvast-profile-box-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 500px) {
    .cvast-profile-box {
        margin: 10px;
        margin-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
    }

    .cvast-profile-box-body {
        padding-right: 0px;
    }

    .cvast-profile-box-left-container {
        padding: 0px;
    }

    .cvast-profile-box-list {
        padding: 5px;
    }
}


/* Video paragraph boxes */
.cvast-paragraph-box-video h1 {
    margin-top: 0px;
    margin-bottom: 30px;
    line-height: 25px;
}

.cvast-paragraph-box-video-body {
    margin-right: 40px;
    text-align: justify;
}

/* To be used when neccessary */
cvast-paragraph-box-video-left-container {

}

@media (max-width: 768px) {
    .cvast-paragraph-box-video h1 {
        margin-bottom: 10px;
        text-align: center;
    }

    .cvast-paragraph-box-video-left-container {
        margin-bottom: 10px;
    }

    .cvast-paragraph-box-video-body {
        margin-right: 0px;
    }
}


/* Video */
.cvast-video-block {
    margin-top: 200px;
}

.cvast-video-block h3 {
    margin-bottom: 30px;
}

.cvast-video-full {
    width: 100%;
    max-height: 100vh;
}

#video-player {
	display: table;
	line-height: 0;
	font-size: 0;
	background: #000;
}
#video-player video,
	#video-player figcaption {
		display: table-cell;
		vertical-align: top;
}
#video-player figcaption {
	width: 25%;
}
#video-player figcaption a {
	display: block;
	opacity: .5;
	transition: 1s opacity;
}

.cvast-video-player-large {
    width: 100%;
}

.cvast-video-player-large video {
		width: 100%;
        max-height: 80vh;
}

.cvast-video-player-large figcaption a img {
        max-width: 100%;
        max-height: 26vh;
}

.cvast-video-player-medium {
    width: 100%;
}

.cvast-video-player-medium video {
		width: 100%;
        max-height: 70vh;
}

.cvast-video-player-medium figcaption a img {
		max-width: 100%;
        max-height: 23vh;
}

#video-player figcaption a:hover {
	opacity: 1;
}

@media (max-width: 768px) {
	#video-player video,
		#video-player figcaption {
			display: table-row;
		}
    #video-player figcaption a {
        display: inline-block;
        width: 33.33%;
    }
}



/* Embed */
.cvast-embed iframe {
    width: 100%;
    min-height: 60vh;
    max-height: 80vh;
}



/* Sketchfab */

.cvast-sketchfab-embeded {
    padding-top: 20px;
}

.cvast-sketchfab-embeded iframe {
    width: 80vw;
    height: 80vh;

}

@media (max-width: 768px) {
    .cvast-sketchfab-embeded iframe {
        height: 70vh;
        width: 100vw;
    }
}


/* Images */
.cvast-image-full-view {
  float: none;
  padding: 0;
  background: #000;
  display: table;
  width: 100%;
  height: 100%;  
}

.cvast-image-full-view img {
  display: block;
  max-height: 80vh;
  max-width: 100%;
  margin: auto;
}


/* Tags */
.cvast-tag {
    margin-top: 5px;
}