{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<!--=== Content Part ===-->
<div class="block-description cvast-project-title">
    <div class="container content padding-top-20">
        <h1 class="arches-breadcrumb-title cvast-page-title">{% trans "CALCRome" %}</h1>
    </div>

    <!-- Paragraph 1 -->
    <div class="block-description">
        <div class="container">
            <div class="row cvast-profile-box">
                <div class="col-sm-4 cvast-profile-box-left-container">
                    <h1>Capturing the Lifecycle of Ceramics in Rome</h1>
                    <h5><i class="fa fa-map-marker"></i>Rome, Italy</h5>
                </div>
                <div class="col-sm-8">
                    <div class="cvast-profile-box-body">
                        <p>Rachel Opitz, USF Assistant Professor in Anthropology and at CVAST is collaborating with archaeologists
                            Marcello Mogetta at the University of Missouri and Laura Banducci at Carleton University to investigate
                            traces of past use seen on Black Gloss ceramics from the Sala V collection of Rome’s Capitoline
                            Museum. Black gloss pottery was made in central and southern Italy from the late 4th century
                            BCE through to the middle of the 1st century BCE and plays an important role in our understanding
                            of the consumption of food and drink both every day and on special occasions. The objects in
                            the Sala V collection, normally in storage and not accessible by the public, have never been
                            studied.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Image 1 -->
    <div align="center" class="background-image-title">
        <h5>Damien Vurpillot and Valerie Taillandier, doctoral students at UBFC, using the GOM blue light scanner to scan a vessel
            from the Sala V collection.</h5>
    </div>

    <div class="background-image" style="background-image: url({% static 'img/projects/calc_rome/htr1.jpg' %}); background-position: 50% 40%;"></div>
</div>


<!-- Images -->
<div class="block-description cvast-media-block">

    <!-- Paragraph 2 -->
    <div class="container padding-top-20">
        <div class="row cvast-profile-box">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <h1>This is a paragraph title</h1>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <p>Where did they come from, and how were they chosen for to be placed into the tomb of a friend or family
                        member, or left in a sanctuary as an offering? Were they family heirlooms, bought purely for the
                        purpose of burial or votive deposit, or used in a ritual before being placed? How can better information
                        about these vessels’ use contribute to our understanding of the purchasing, use and deposition of
                        artefacts in the Roman world, and the Roman economy in general? Is there a correlation between the
                        quality of the table wares and the level of use wear? Were imported objects used differently than
                        the locally made ones?
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Image 2 -->
    <div class="container background-image-title-notfirstrow">
        <div class="row cvast-profile-box">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <h1>Marks from cutting the vessel off of the wheel</h1>
                <h5>These broad cuts are quite distinct from those we see on its interior due to abrasions from knives during
                    food consumption.</h5>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body" style="max-height: 500px;">
                    <div class="background-image" style="background-image: url({% static 'img/projects/calc_rome/htr2.jpg' %}); background-size: 100% auto; background-position: 50% 0%; "></div>
                </div>
            </div>
        </div>
    </div>



    <!-- Paragraph 3 -->
    <div class="container background-image-title-notfirstrow">
        <div class="row cvast-profile-box">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <h1>This is a paragraph title</h1>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <p>To address these questions, our team has been carrying out 3D scanning to capture detailed surface models
                        of the objects. These models are now being analysed to assess the types and extent of wear and marks
                        of use on their interior and exterior surfaces. These marks might indicate things that happened during
                        the production process, during the active use of the object, or after its deposit in a grave or sanctuary.
                        Differentiating between these types of wear is crucial, as is identifying further specific traces
                        of different types of wear that can be linked to actions like cutting up food or stirring liquids.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Image 3 -->
    <div class="container background-image-title-notfirstrow">
        <div class="row cvast-profile-box">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <h1>Cut marks on the interior of a plate</h1>
                <h3>This wear is most likely caused by the repeated consumption of food.</h3>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <div class="background-image" style="background-image: url({% static 'img/projects/calc_rome/htr3.jpg' %}); background-size: 100% auto; background-position: 50% 0%; max-height: 485px;"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- Paragraph 4 -->
    <div class="container background-image-title-notfirstrow">
        <div class="row cvast-profile-box">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <h1>This is a paragraph title</h1>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <p>In the first stage of the project we are developing metrics to differentiate between areas dominated
                        by specific types of wear, e.g. scratches made by a sharp narrow tool vs. broad shallow abrasions,
                        with promising initial results. Current research is focused on developing new ways to measure and
                        quantify these different types of wear, so that analyses can be performed across large datasets and
                        more consistent assessment of the extent and type of use- wear can be made.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Image 4 -->
    <div class="container background-image-title-notfirstrow">
        <div class="row cvast-profile-box">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <h1>Part of the collection of vessels under study for this project: </h1>
                <h3>Roman black gloss pottery </br>
                    4th century BCE to 1st century BCE</h3>
                <p>The majority of the vessels are open forms, and would have been used for eating or drinking, while some of
                    the closed forms may be associated with pouring.</p>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <div class="background-image" style="background-image: url({% static 'img/projects/calc_rome/htr6.jpg' %}); background-size: auto 100%;"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- Paragraph 5 -->
    <div class="container background-image-title-notfirstrow">
        <div class="row cvast-profile-box">
            <div class="col-sm-4 cvast-profile-box-left-container">
                <h1>Acknowledgment</h1>
            </div>
            <div class="col-sm-8">
                <div class="cvast-profile-box-body">
                    <p><i>This project has benefitted from the generous support of the Capitoline Museum in Rome and ENEL Green Power, who arranged and supported the loan of these objects to the University of Missouri through the “Hidden Treasure of Rome” Project. The project has also benefitted from the support and collaboration of the Museum of Art and Archaeology at the University of Missouri, and funding from the University of Missouri Research Council.</i>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Image 5 -->
    <div align="center" class="background-image-title">
        <h5 style="max-width: 1000px">A measurement of surface roughness is used here to approximate the overall degree of wear on different parts of the
            vessel’s interior. Greater roughness values correspond with areas with more overall wear.</h5>
    </div>
    <div class="background-image" style="background-image: url({% static 'img/projects/calc_rome/htr7.png' %}); background-size: auto 100%;"></div>

</div>
<!-- End Images -->

{% include 'projects/project_footer.htm' %}
</div>

{% endblock content %}