{% extends "news/2017_08_15_italian_media/header.htm" %} {% block content %}

<!-- Paragraph 1 -->
<div class="container">
	<div class="row cvast-paragraph-box cvast-media-block cvast-background-image-spacer">
		<div class="col-sm-4 cvast-paragraph-box-left-container">
			<h1>Roman villa of Durreueli</h1>
		</div>
		<div class="col-sm-8">
			<div class="cvast-paragraph-box-body">
				<p>
					This is culturally and economically beneficial for Sicily, which gets for free the results of cutting edge studies undertaken
					with expensive and innovative equipment by international experts. The last archaeological achievement for the Island
					is that of Realmonte, where archaeologists of University of South Florida (USF) have carried out sensational discoveries
					at the Roman villa of Durrueli. A very important site for its mosaics depicting sea deities and for its baths, discovered
					at the beginning of the '900 during construction works for a railroad and excavated in the 70's by a Japanese team and
					then forgotten and currently closed to the public despite is proximity with the famous Scala dei Turchi.
				</p>
				<p>
					Here, thanks to a three-year agreement with the Superintendence for Cultural Heritage of Agrigento, directed by Gabriella
					Costantino, who is also scientific co-director of the research project, a month of archaeological excavation entirely
					financed by USF has come to an end.
				</p>
				<p>
					Students of archaeology, classics and anthropology and Ph.D. students of the USF Department of History have participated
					to excavation under the supervision of the co-director Dr Davide Tanasi, assistant professor with the Department of
					History and the Center for Virtualization and Applied Spatial Technologies (CVAST), which is an innovative research
					center of USF specialized in the virtualization of the global culture heritage and its open dissemination on the web.
					This has been a unmissable opportunity for the Superintendence of Agrigento which granted the authorization to start
					out the American research project, in which was also involved Dr Michael Decker, world-renowned byzantinist, Chair of
					the Department of History and Director of CVAST. On the field the American scholars were also supported by the volunteers
					of the local association Pro Loco of Realmonte.
				</p>
				<p>
					"The fieldwork started out one week before the beginning of the excavation - says the archaeologist Dr Tanasi - when two
					staff members of USF CVAST, Jeff Du Vernay and Bart McLeod, carried out the overall terrestrial and aerial 3D scanning
					of the entire complex, creating a 3D model which representes a formidable research tool for every future project to
					study and promote the site".
				</p>
			</div>
		</div>
	</div>
</div>


<!-- Image 1 -->
<div class="container">
	<div class="row cvast-paragraph-box cvast-media-block cvast-background-image-spacer">
		<div class="col-sm-4 cvast-paragraph-box-left-container">
			<h5>Article published in La Repubblica (August 9th 2017)</h5>
		</div>
		<div class="col-sm-8">
			<div class="cvast-paragraph-box-body">
				<img src="{{ S3_STATIC_URL_IMG }}/news/2017_08_15_italian_media/repubblica-9-8-2017.jpg" style="max-height: 80vh; max-width: 100%;"
				/>
			</div>
		</div>
	</div>
</div>


<!-- Paragraph 2 -->
<div class="container">
	<div class="row cvast-paragraph-box cvast-media-block cvast-background-image-spacer">
		<div class="col-sm-4 cvast-paragraph-box-left-container">
			<h1>Outcome</h1>
		</div>
		<div class="col-sm-8">
			<div class="cvast-paragraph-box-body">
				<p>
					The final outcome is the discovery of the secrets of Durrueli: a villa of more of 5,000 m2 built on the beach, with two private
					bathhouses and a breathtaking view as it was constructed on the top of an artificial terrace by the sea supported my
					a gigantic terrace wall. A wonder visible to mariners and travelers coming to Sicily, possibly owned by a wealthy aristocrat
					who lived in Agrigento between the 1st and the 2nd century CE. A new hypothesis could be also be that the villa was
					the marine part of a still unknown Roman settlement at Durrueli, in this case the owner would not be a wealth man from
					Agrigento but a powerful citizen of this Roman city still without a name.
				</p>
				<p>
					"The villa was certainly built for leisure - says Dr Tanasi - with swimming pools and mosaics with marine motifs. But what
					it is more striking it's that the complex was largely occupied in subsequent eras until the 7th century CE with various
					architectural transformations which never destroyed the villa itself though.
				</p>
				<p>
					During Late Antique times, a part of the villa was converted in a facility for the production of pottery, tiles and bricks
					in an industrial scale as explained by Nuccia Gulli, archaeologist of the Superintendence of Agrigento. But not just
					that. The destination of one room was changed with a substantial re-flooring as possibly to be used as baptistery. From
					villa to industrial facility and from that to basilica? Archaelogists don't add anything else and look forward the excavations
					which will be carried out next summer aimed to uncover a further district of the villa. Yes next summer, as University
					of South Florida is in Tampa, a city twin sister with Agrigento, where there is a large and influential community of
					Sicilian-Americans who immigrated in the US from the province of Agrigento and who have dear to promote the cultural
					heritage of Sicily, which is the place where their ancestral roots are. University of South Florida has already "donated"
					to Sicily other archaeological projects such as the virtualization of the World Heritage site of Villa del Casale at
					Piazza Armerina and of the archaeological park of Morgantina.
				</p>
			</div>
		</div>
	</div>
</div>


{% endblock content %}