{% extends "base.htm" %} {% load staticfiles %} {% load wagtailcore_tags %} 
{% block css %} {{ block.super }} {% endblock css %} 


{% block content %}

    <div class="block-description cvast-project-title">
        <div class="container content padding-top-20">
            <h1 class="arches-breadcrumb-title cvast-page-title">{{ page.title }}</h1>
            {% if all_tags %}
                <div class="container">
                    <h4>{{ page.available_tags}}</h4>
                    {% for tag in all_tags %}
                        <a href="{% slugurl 'tags' %}?tag={{ tag }}" class="btn-u btn-u-sm rounded cvast-tag">{{ tag }}</a>
                    {% endfor %}
                </div>
            {% else %}
                <h4>{{ page.no_available_tags }}</h4>
            {% endif %}

            {% if request.GET.tag|length %}
                <div class="container cvast-spacer-top">
                {% if not news_articles %}
                    <h4>{{ page.tag_not_found}} "{{ request.GET.tag }}".</h4>
                {% else %}
                    <h4>{{ page.tag_found}} "{{ request.GET.tag }}"</h4>
                {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    {% if request.GET.tag|length %}
        {% for article in news_articles %} 

            {% if forloop.last %}
                <div class="container cvast-spacer-top-half cvast-spacer-bottom-half">
                    {% include "news/news_title_intro.htm" with article=article add_link=True %}
                </div>
                {% else %}
                <div class="cvast-content-block">
                    {% include "news/news_title_intro.htm" with article=article add_link=True %}
                </div>
            {% endif %}

        {% endfor %}
    {% endif %}

{% endblock %}