{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<div class="block-description cvast-project-title">
    <div class="container content padding-top-20">
        <h1 class="arches-breadcrumb-title cvast-page-title">{% trans "Software" %}</h1>
    </div>
</div>

<div class="block-description">
    <div class="container">
        <div class="row cvast-paragraph-box cvast-paragraph-box-after-title">
            <div class="col-sm-4 cvast-paragraph-box-left-container">
                <h1>Software</h1>
                <h5><i class="fa fa-code"></i>Open Source</h5>
            </div>
            <div class="col-sm-8">
                <div class="cvast-paragraph-box-body">
                    <p>Part of our mission is to make all software we develop available to the public, in order to make technology
                        accessible and to invite collaboration.
                    </p>
                    <p>
                        All the source code of our applications can be found on <a href="https://github.com/cvast" target="_blank">Github</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Title paragraph -->
<div class="container" style="margin-top: 80px;">
    <div class="row cvast-paragraph-box cvast-paragraph-box-after-title">
        <div class="col-sm-4 cvast-paragraph-box-left-container">
            <h5><i class="fa fa-code"></i>ARCA</h5>
        </div>
        <div class="col-sm-8">
            <div class="cvast-paragraph-box-body">
                <p>
                    Our latest project is ARCA: a collaboration between UniCT IPlab and CVAST. ARCA stands for Automatic Recognition of Colors
                    in Archaeology, and is an invaluable tool in automating archaeological workflows. The source code can
                    be found <a href="https://github.com/cvast/arca" target="_blank">here</a>.
                </p>
                <p>&copy;[19 April 2017] [Filippo Stanco, Davide Tanasi, Filippo L. M. Milotta ]. All rights reserved.</p>
                <p>This information is intended for research, educational, and non-commercial use.</p>
            </div>
        </div>
    </div>
</div>

<div align="center" class="cvast-background-image-title cvast-background-image-spacer">
    <h5>To the moon!</h5>
</div>
<div class="background-image" style="background-image: url({{ S3_STATIC_URL_IMG }}/projects/la_mancha/la_motilla_del_azuer/la_motilla_del_azuer_aerial.jpg); background-position: 50% 30%;"></div>


{% include 'projects/project_footer.htm' %} {% endblock content %}