{% extends "base.htm" %} {% load staticfiles %} {% load i18n %} {% block content %}

<!--=== Content Part ===-->
<div class="block-description cvast-project-title">
	<div class="container content padding-top-20">
		<h1 class="arches-breadcrumb-title cvast-page-title">{% trans "Virtual Karam Collection" %}</h1>
	</div>

	<div class="block-description">
		<div class="container">
			<div class="row cvast-paragraph-box cvast-paragraph-box-after-title">
				<div class="col-sm-4 cvast-paragraph-box-left-container">
					<h1>VKaram</h1>
					<h5><i class="fa fa-map-marker"></i>Tampa, Florida, United States</h5>
				</div>
				<div class="col-sm-8">
					<div class="cvast-paragraph-box-body">
						<p><a href="{% url 'people'%}#davide" target="_blank">Dr. Davide Tanasi</a> (CVAST – Department of History) has undertaken
							the overall reappraisal of the Karam collection of archaeological artefacts kept in the Special Collection Department
							of the University of South Florida Libraries, in order to virtualize it and share it digitally with the public. The
							project has an important pedagogic component as undergraduate students of the Department of History as fully involved
							in the production of the 3D models via the application of techniques such 3D Scanning and Digital Photogrammetry,
							providing them with valuable technical skills, but also allowing them the opportunity to interact with ancient primary
							source materials in Special Collections.
						</p>
						<p>University of South Florida Libraries Dean, Todd Chavez, has placed a renewed emphasis on the library’s role in student
							success and research at University of South Florida. Collaborative efforts like the VKaram project are just one example
							of the USF library’s new vision.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div align="center" class="cvast-background-image-title">
		<h5>Dr. Tanasi scanning a bust of Hadrian</h5>
	</div>
	<div class="background-image" style="background-image: url({{ S3_STATIC_URL_IMG }}/projects/virtual_karam/dr_tanasi_faro_edge_arm_hadrian.jpg); background-position: 60% 70%; height: 1050px;"></div>
</div>


<!-- Sketchfab -->
<div class="container padding-top-20">
	<div class="row cvast-paragraph-box cvast-media-block">
		<div class="col-sm-4 cvast-paragraph-box-left-container">
			<h1>3D models</h1>
		</div>
	</div>
</div>

<div id="cvast-sketchfab-viewer" align="center" class="sketchfab-embed-wrapper cvast-sketchfab-embeded">

	<iframe src="https://sketchfab.com/playlists/embed?collection=92db630c6e9540b28d1e34201def1400" frameborder="0" allowvr allowvr
		allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

<p>
	<a href="https://sketchfab.com/cvast/collections/the-farid-karam-antiquities-collection-at-usf" target="_blank">The Farid Karam Antiquities Collection at USF</a>	by
	<a href="https://sketchfab.com/cvast" target="_blank">CVAST</a> on
	<a href="https://sketchfab.com" target="_blank">Sketchfab</a>
</p>

</div>
<!-- End Sketchfab -->


<!-- Videos -->
<div class="container padding-top-20">
	<div class="row cvast-paragraph-box-video cvast-media-block">
		<div class="col-sm-4 cvast-paragraph-box-video-left-container">
			<h1>Videos</h1>
		</div>
		<div class="col-sm-8">
			<div class="cvast-paragraph-box-video-body">
				<p>The following animation resulted from a meshed 3D model created with our Faro Edge Arm.
				</p>
			</div>
		</div>
	</div>
</div>

<div align="center" class="cvast-background-image-title">
	<h5 id="cvast-video-caption">A limestone male portrait, part of the Karam collection
	</h5>
</div>

<figure id="video-player" class="cvast-video-player-large">
	<video controls poster="{{ S3_STATIC_URL_IMG }}/projects/virtual_karam/video_thumbnails/3D_Hadrian_turntable.png" loop="">
		<source src="{{ S3_STATIC_URL_VIDEO }}/virtual_karam/Hadrian_turntable_noColor-streaming.mp4" type="video/mp4">
	</video>
	<figcaption>
		<a href="{{ S3_STATIC_URL_VIDEO }}/virtual_karam/Hadrian_turntable_noColor-streaming.mp4" data-caption="A limestone male portrait, part of the Karam collection"><img src="{{ S3_STATIC_URL_IMG }}/projects/virtual_karam/video_thumbnails/3D_Hadrian_turntable.png" alt=""></a>
		<a href="{{ S3_STATIC_URL_VIDEO }}/virtual_karam/hadrian_faro_arm_scanning-streaming.mp4" data-caption="Scanning the bust of Roman emperor Hadrian with a Faro Edge Scan Arm HD"><img src="{{ S3_STATIC_URL_IMG }}/projects/virtual_karam/video_thumbnails/hadrian_faro_arm_scanning.png" alt=""></a>
	</figcaption>
</figure>
<!-- End Videos -->

<!-- Paragraph 1 -->
<div class="container">
	<div class="row cvast-paragraph-box cvast-media-block">
		<div class="col-sm-4 cvast-paragraph-box-left-container">
			<h1><a href="http://guides.lib.usf.edu/c.php?g=5769&p=25583#/?utm_campaign=karam&utm_medium=textlink&utm_source=yliastory&utm_content=articletextlink"
					target="_blank">Farid Karam, M.D. Lebanon Antiquities Collection</a></h1>
		</div>
		<div class="col-sm-8">
			<div class="cvast-paragraph-box-body">
				<p>In 1998, Dr. Farid Karam and his wife Jehanne generously donated their collection of Roman and Phoenician antiquities
					to the University of South Florida Libraries - Special Collections Department. This collection consists of 149 objects,
					including jars, bottles, oil lamps, unguentaria, busts, and figures. Most of the items come from Roman Syria, a wealthy
					province on the Eastern Mediterranean, and date from the 1st through the 4th centuries AD.
				</p>
			</div>
		</div>
	</div>
</div>


<!-- Images -->
<div class="container">
	<div class="row cvast-paragraph-box cvast-media-block">
		<div class="col-sm-4 cvast-paragraph-box-left-container">
			<h1>Highlights of the Karam Collection</h1>
			<h5>University of South Florida Libraries - Special Collections Department</h5>
		</div>
		<div class="col-sm-8">
			<div class="cvast-paragraph-box-body">
				<p>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4" align="center">
			<h5 style="text-align: center; padding-top: 40px;">Head of Jupiter - Serapis</h5>
			<img class="cvast-image-box-with-caption-left-image" src="{% static 'img/projects/virtual_karam/head_jupiter_serapis.jpg' %}"
			/>
		</div>
		<div class="col-sm-4" align="center">
			<h5 style="text-align: center; padding-top: 40px;">Polychrome glass vial</h5>
			<!--<p style="text-align: left;">Karam Collection: University of South Florida Libraries - Special Collections Department</p>-->
			<img class="cvast-image-box-with-caption-left-image" src="{% static 'img/projects/virtual_karam/polychrome_glass_vial.jpg' %}"
			/>
		</div>
		<div class="col-sm-4" align="center">
			<h5 style="text-align: center; padding-top: 40px;">Statuette of Aphrodite and Eros</h5>
			<!--<p style="text-align: left;">Karam Collection: University of South Florida Libraries - Special Collections Department</p>-->
			<img class="cvast-image-box-with-caption-left-image" src="{% static 'img/projects/virtual_karam/female_figure_holding_a_child_on_the_left_shoulder.jpg' %}"
			/>
		</div>
	</div>
	<!-- End Images -->

	{% include 'projects/project_footer.htm' %}
</div>

{% endblock content %}